@page "/downloadXml2"

@using MOSTComputers.Models.Product.Models
@using MOSTComputers.Models.Product.Models.Promotions.Groups
@using MOSTComputers.Services.DataAccess.Products.DataAccess.Promotions.Groups.Contracts
@using MOSTComputers.Services.HTMLAndXMLDataOperations.Models.Xml.New
@using MOSTComputers.Services.ProductRegister.Services.Contracts
@using MOSTComputers.Services.ProductRegister.Services.Products.Contracts
@using MOSTComputers.Services.ProductRegister.Services.Promotions.Groups.Contracts
@using MOSTComputers.UI.Web.Blazor.Endpoints.Images
@using MOSTComputers.UI.Web.Blazor.Services.Xml.Contracts
@using Microsoft.Extensions.Caching.Memory
@using System.Text.Json

@using static MOSTComputers.Utils.Files.FilePathUtils;
@using static MOSTComputers.UI.Web.Blazor.Utils.DataToTextConversion;

@inject ICategoryService CategoryService
@inject IManufacturerService ManufacturerService

<PageTitle>Download Xml</PageTitle>

<HeadContent>
    <script src="js/Pages/DownloadXml.js"></script>
</HeadContent>

<div id="downloadXmlPage" class="download-xml-page">

    <div class="download-xml-option-container">

        <select id="xmlCurrencySelect">

            @foreach (string currencyOption in _currencySelectOptions)
            {
                <option value="@currencyOption">@currencyOption</option>
            }
        </select>
    </div>

    <div name="downloadXmlOptionContainer" class="download-xml-option-container">

		<button id="downloadXmlButton" class="btn btn-secondary me-2" onclick="onDownloadAllXmlButtonClick()">
			Download XML
		</button>

        <button class="btn btn-outline-secondary" onclick="onCopyDownloadAllUrlButtonClick()">Copy Url</button>
    </div>

    <div name="downloadXmlOptionContainer" class="download-xml-option-container">

        <select id="downloadXmlCategorySelect" class="download-xml-option-category-select me-2">

            @foreach (Category category in _categoriesInSelect)
            {
                <option value="@category.Id">@category.Description</option>
            }
        </select>

        <button class="btn btn-secondary me-2" onclick="onDownloadXmlForCategoryButtonClick()">
            Download XML from category
        </button>

        <button class="btn btn-outline-secondary" onclick="onCopyDownloadXmlForCategoryUrlButtonClick()">Copy Url</button>
    </div>

    <div name="downloadXmlOptionContainer" class="download-xml-option-container">

        <select id="downloadXmlManufacturerSelect" class="download-xml-option-manufacturer-select me-2">

            @foreach (Manufacturer manufacturer in _manufacturersInSelect)
            {
                <option value="@manufacturer.Id">@manufacturer.RealCompanyName</option>
            }
        </select>

        <button class="btn btn-secondary me-2" onclick="onDownloadXmlForManufacturerButtonClick()">
            Download XML with manufacturer
        </button>

        <button class="btn btn-outline-secondary" onclick="onCopyDownloadXmlForManufacturerUrlButtonClick()">Copy Url</button>
    </div>

    <div name="downloadXmlOptionContainer" class="download-xml-option-container">

        <button class="btn btn-secondary me-2" onclick="onDownloadXmlWithPromotionsButtonClick()">
            Download XML for products with promotions
        </button>

        <button class="btn btn-outline-secondary" onclick="onCopyDownloadXmlWithPromotionsUrlButtonClick()">Copy Url</button>
    </div>

    <div name="downloadXmlOptionContainer" class="download-xml-option-container">

        <button class="btn btn-secondary me-2" onclick="onDownloadPromotionGroupXmlButtonClick()">
            Download promo group XML
        </button>

        <button class="btn btn-outline-secondary" onclick="onCopyDownloadPromotionGroupXmlUrlButtonClick()">Copy Url</button>
    </div>

    <div name="downloadXmlOptionContainer" class="download-xml-option-container">
        <p class="mb-0">The 'Copy url' buttons copy the url for api or browser read purposes, and include the selected currency option at the top.</p>
    </div>

	<div id="downloadXmlLoader" class="round-loader-default download-xml-loader"></div>
</div>

@code {

    private const string _downloadAllUri = $"api/product/xml/all";
    private const string _downloadAllWithPromotionsUri = $"api/product/xml/promotions";
    private const string _downloadAllInCategoryUri = $"api/product/xml/categoryId=";
    private const string _downloadAllByManufacturerUri = $"api/product/xml/manufacturerId=";

    private const string _downloadWithCurrencyQueryValue = $"?currency=";

    private const string _downloadPromotionGroupXmlUri = $"api/promotionGroup/xml/all";

    private const string _timeFormatInFileNames = "yyyy_MM_dd_HH:mm:ss";

    private readonly List<string> _currencySelectOptions = ["Base currency", "EUR", "USD", "BGN"];

    private List<Category> _categoriesInSelect { get; set; } = new();
    private List<Manufacturer> _manufacturersInSelect { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _categoriesInSelect = await CategoryService.GetAllAsync();

        _manufacturersInSelect = await ManufacturerService.GetAllWithActiveProductsAsync();
    }
}