@page "/downloadXml"

@attribute [ExcludeFromInteractiveRouting]

@using MOSTComputers.Models.Product.Models
@using MOSTComputers.Models.Product.Models.Promotions.Groups
@using MOSTComputers.Services.DataAccess.Products.DataAccess.Promotions.Groups.Contracts
@using MOSTComputers.Services.HTMLAndXMLDataOperations.Models.Xml.New
@using MOSTComputers.Services.ProductRegister.Services.Contracts
@using MOSTComputers.Services.ProductRegister.Services.Products.Contracts
@using MOSTComputers.Services.ProductRegister.Services.Promotions.Groups.Contracts
@using MOSTComputers.UI.Web.Blazor.Endpoints.Images
@using MOSTComputers.UI.Web.Blazor.Services.BrowserResourceHashing
@using MOSTComputers.UI.Web.Blazor.Services.Xml.Contracts
@using Microsoft.Extensions.Caching.Memory
@using System.Text.Json

@using static MOSTComputers.Utils.Files.FilePathUtils;
@using static MOSTComputers.UI.Web.Blazor.Utils.DataToTextConversion;

@inject ICategoryService CategoryService
@inject IManufacturerService ManufacturerService

<PageTitle>Download Xml</PageTitle>

<HeadContent>
	<meta name="description"
        content="Експорт на XML данни за продуктите, който предлагаме." />

    <meta name="keywords" content="MOST Computers, МОСТ Компютърс, компютри, компоненти, лаптопи, сървъри, принтери, консумативи, цени" />
    <meta name="robots" content="INDEX,FOLLOW">

    <script src="@Assets[_pageScriptUrl]"></script>
</HeadContent>

<div id="downloadXmlPage" class="download-xml-page">

    <div class="download-xml-option-container">

        <select id="xmlCurrencySelect">

            @foreach (string currencyOption in _currencySelectOptions)
            {
                if (currencyOption == _defaultCurrencySelectOption)
                {
                    <option value="@currencyOption" selected>@currencyOption</option>
                }
                else
                {
					<option value="@currencyOption">@currencyOption</option>
                }
            }
        </select>
    </div>

    <div name="downloadXmlOptionContainer" class="download-xml-option-container">

		<button id="downloadXmlButton" class="btn btn-secondary me-2" onclick="onDownloadAllXmlButtonClick()">
			Download XML
		</button>

        <button id="downloadAllUrlCopyButton"
            class="copy-url-button"
			onclick="onCopyDownloadAllUrlButtonClick()">

			<p class="copy-url-button-text">Copy Url</p>

			<svg class="copy-url-button-checkmark"
				viewBox="0 0 24 24">
				<path d="M4 12 L10 18 L20 6"
					fill="none"
					stroke="#6C757D"
					stroke-width="3"
					stroke-linecap="round"
					stroke-linejoin="round"/>
			</svg>
		</button>
    </div>

    <div name="downloadXmlOptionContainer" class="download-xml-option-container">

        <select id="downloadXmlCategorySelect" class="download-xml-option-category-select me-2">

            @foreach (Category category in _categoriesInSelect)
            {
                <option value="@category.Id">@category.Description</option>
            }
        </select>

        <button class="btn btn-secondary me-2" onclick="onDownloadXmlForCategoryButtonClick()">
            Download XML from category
        </button>

        <button id="downloadAllInCategoryUrlCopyButton"
            class="copy-url-button"
            onclick="onCopyDownloadXmlForCategoryUrlButtonClick()">

            <p class="copy-url-button-text">Copy Url</p>

			<svg class="copy-url-button-checkmark"
				viewBox="0 0 24 24">
				<path d="M4 12 L10 18 L20 6"
					fill="none"
					stroke="#6C757D"
					stroke-width="3"
					stroke-linecap="round"
					stroke-linejoin="round"/>
			</svg>
		</button>
    </div>

    <div name="downloadXmlOptionContainer" class="download-xml-option-container">

        <select id="downloadXmlManufacturerSelect" class="download-xml-option-manufacturer-select me-2">

            @foreach (Manufacturer manufacturer in _manufacturersInSelect)
            {
                <option value="@manufacturer.Id">@manufacturer.RealCompanyName</option>
            }
        </select>

        <button class="btn btn-secondary me-2" onclick="onDownloadXmlForManufacturerButtonClick()">
            Download XML with manufacturer
        </button>

        <button id="downloadAllInManufacturerUrlCopyButton"
            class="copy-url-button"
            onclick="onCopyDownloadXmlForManufacturerUrlButtonClick()">

			<p class="copy-url-button-text">Copy Url</p>

			<svg class="copy-url-button-checkmark"
				viewBox="0 0 24 24">
				<path d="M4 12 L10 18 L20 6"
					fill="none"
					stroke="#6C757D"
					stroke-width="3"
					stroke-linecap="round"
					stroke-linejoin="round"/>
			</svg>
        </button>
    </div>

    <div name="downloadXmlOptionContainer" class="download-xml-option-container">

        <button class="btn btn-secondary me-2" onclick="onDownloadXmlWithPromotionsButtonClick()">
            Download XML for products with promotions
        </button>

        <button id="downloadAllWithPromotionsUrlCopyButton"
            class="copy-url-button"
            onclick="onCopyDownloadXmlWithPromotionsUrlButtonClick()">

			<p class="copy-url-button-text">Copy Url</p>

			<svg class="copy-url-button-checkmark"
				viewBox="0 0 24 24">
				<path d="M4 12 L10 18 L20 6"
					fill="none"
					stroke="#6C757D"
					stroke-width="3"
					stroke-linecap="round"
					stroke-linejoin="round"/>
			</svg>
		</button>
    </div>

    <div name="downloadXmlOptionContainer" class="download-xml-option-container">

        <button class="btn btn-secondary me-2" onclick="onDownloadPromotionGroupXmlButtonClick()">
            Download promo group XML
        </button>

        <button id="downloadPromotionGroupsUrlCopyButton"
            class="copy-url-button"
            onclick="onCopyDownloadPromotionGroupXmlUrlButtonClick()">

            <p class="copy-url-button-text">Copy Url</p>

			<svg class="copy-url-button-checkmark"
				viewBox="0 0 24 24">
				<path d="M4 12 L10 18 L20 6"
					fill="none"
					stroke="#6C757D"
					stroke-width="3"
					stroke-linecap="round"
					stroke-linejoin="round"/>
			</svg>
		</button>
    </div>

    <div name="downloadXmlOptionContainer" class="download-xml-option-container">
        <p class="mb-0">The 'Copy url' buttons copy the url for api or browser read purposes, and include the selected currency option at the top.</p>
    </div>

	<div id="downloadXmlLoader" class="round-loader-default download-xml-loader"></div>
</div>

@code {

    private const string _pageScriptUrl = "js/Pages/DownloadXml.js";

    private const string _downloadAllUri = $"api/product/xml/all";
    private const string _downloadAllWithPromotionsUri = $"api/product/xml/promotions";
    private const string _downloadAllInCategoryUri = $"api/product/xml/categoryId=";
    private const string _downloadAllByManufacturerUri = $"api/product/xml/manufacturerId=";

    private const string _downloadWithCurrencyQueryValue = $"?currency=";

    private const string _downloadPromotionGroupXmlUri = $"api/promotionGroup/xml/all";

    private const string _timeFormatInFileNames = "yyyy_MM_dd_HH:mm:ss";

    private readonly List<string> _currencySelectOptions = ["Base currency", "EUR", "USD", "BGN"];

    private readonly string _defaultCurrencySelectOption = "EUR";

    private List<Category> _categoriesInSelect { get; set; } = new();
    private List<Manufacturer> _manufacturersInSelect { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _categoriesInSelect = await CategoryService.GetAllAsync();

        _manufacturersInSelect = await ManufacturerService.GetAllWithActiveProductsAsync();
    }
}