@page "/product/productData/{ProductId:int}"

@attribute [ExcludeFromInteractiveRouting]

@using MOSTComputers.Models.Product.Models
@using MOSTComputers.Models.Product.Models.ProductImages
@using MOSTComputers.Models.Product.Models.Promotions
@using MOSTComputers.Services.Currencies.Contracts
@using MOSTComputers.Services.ProductRegister.Services.Contracts
@using MOSTComputers.Services.ProductRegister.Services.ProductImages.Contracts
@using MOSTComputers.Services.ProductRegister.Services.ProductProperties.Contacts
@using MOSTComputers.Services.ProductRegister.Services.Promotions.Contracts
@using MOSTComputers.Services.SearchStringOrigin.Models
@using MOSTComputers.Services.SearchStringOrigin.Services.Contracts
@using MOSTComputers.UI.Web.Blazor.Services.BrowserResourceHashing
@using OneOf
@using OneOf.Types

@using static MOSTComputers.UI.Web.Blazor.Client.Product.ProductData;
@using static MOSTComputers.UI.Web.Blazor.Client.Utils.DataToTextConversion;

@inject IProductService ProductService
@inject IProductPropertyService ProductPropertyService
@inject IProductCharacteristicService ProductCharacteristicService
@inject IProductImageService ProductImageService
@inject IProductImageFileService ProductImageFileService
@inject IPromotionService PromotionService
@inject ISearchStringOriginService SearchStringOriginService
@inject ICurrencyVATService CurrencyVATService
@inject ICurrencyConversionService CurrencyConversionService
@inject NavigationManager NavigationManager

@{
	string productNameInPageTitle = "Product Data";
	string productNameInPageDescription = string.Empty;

	string productPartNumberSectionInPageDescription = string.Empty;

	if (Product != null)
	{
		productNameInPageTitle = Product.Name ?? Product.Id.ToString();

		productNameInPageDescription = Product.Name ?? Product.Id.ToString();
		productPartNumberSectionInPageDescription = $"(Парт номер: {Product.PartNumber2}";
	}
}

<PageTitle>@productNameInPageTitle</PageTitle>

<HeadContent>
	<meta name="description"
        content="Информация за продукт @productNameInPageDescription @productPartNumberSectionInPageDescription" />

    <meta name="keywords" content="MOST Computers, МОСТ Компютърс, компютри, компоненти, лаптопи, сървъри, принтери, консумативи, цени" />
    <meta name="robots" content="INDEX,FOLLOW">

    <script src="@Assets[_carouselScriptUrl]"></script>
    <script src="@Assets[_productDataScriptUrl]"></script>
    <script src="@Assets[_pageScriptUrl]"></script>

    <style>
		body > div.page > main > article {
			padding-left: 1.25rem;
			padding-right: 1.25rem;
			padding-top: 1.1rem;
		}

	    @@media (max-width: 684px) {
			body > div.page > main > article {
				padding-left: 0.75rem;
				padding-right: 0.75rem;
				padding-top: 1.1rem;
			}
	    }
    </style>
</HeadContent>

@if (Product is null)
{
    <p class="text-danger">Product not found.</p>

    return;
}

@* <div class="product-data-header">

    <div class="header-text-container category-and-manufacturer-container">
        @if (Product.Manufacturer is not null)
        {
            <h4 class="popup-header-text me-2 mb-0">Manufacturer: @Product.Manufacturer.RealCompanyName</h4>
        }

        @if (Product.Category is not null)
        {
            <h4 class="popup-header-text me-2 mb-0">Category: @Product.Category?.Description</h4>
        }
    </div>

    <div class="header-text-container">
        <h4 class="popup-header-text me-2">ID: @(Product.Id)</h4>
        <h4 class="popup-header-text me-2">@(Product.Name ?? "-")</h4>
        <h4 class="popup-header-text me-2">
            @(Product.Status is not null ? GetStringFromProductStatus(Product.Status.Value) : "-")
        </h4>
    </div>
</div> *@

<MOSTComputers.UI.Web.Blazor.Client.Product.ProductData
	BaseProductPagePath="@NavigationManager.BaseUri"
    ShowProductIdData="true"
    Product="Product"
    PriceData="ProductPriceData"
    ProductProperties="ProductProperties"
    ProductImages="ProductImages"
    ProductPromotions="ProductPromotions"
    ProductSearchStringParts="ProductSearchStringParts"/>

@code {

    private const string _productDataScriptUrl = "js/Product/ProductData.js";
    private const string _carouselScriptUrl = "js/Carousel/Carousel.js";
    private const string _pageScriptUrl = "js/Pages/ProductData.js";

    [Parameter] public required int? ProductId { get; set; }
    private int? _previousProductId { get; set; }

    private Product? Product { get; set; }

    private List<ProductPropertyDisplayData> ProductProperties { get; set; } = new();
    private List<ProductImageDisplayData> ProductImages { get; set; } = new();
    private List<Promotion>? ProductPromotions { get; set; }
    private List<SearchStringPartOriginData>? ProductSearchStringParts { get; set; }
    private ProductPriceData? ProductPriceData { get; set; }

    protected override async Task OnInitializedAsync()
    {
		await SetProductDataAsync();

        StateHasChanged();
    }

    // protected override async Task OnParametersSetAsync()
    // {
    //     if (_previousProductId is not null
    //         && _previousProductId != ProductId)
    //     {
    //         await SetProductDataAsync();

    //         StateHasChanged();
    //     }

    //     _previousProductId = ProductId;
    // }

    private async Task SetProductDataAsync()
    {
        if (ProductId is null) return;

        Product = await ProductService.GetByIdAsync(ProductId.Value);

        if (Product is null) return;

        List<ProductProperty> productProperties = await ProductPropertyService.GetAllInProductAsync(Product.Id);

        List<int> relatedCategoryIds = [-1];

        if (Product.CategoryId is not null)
        {
            relatedCategoryIds.Add(Product.CategoryId.Value);
        }

        IEnumerable<ProductCharacteristicType> productCharacteristicTypes = [
            ProductCharacteristicType.ProductCharacteristic,
            ProductCharacteristicType.Link
        ];

        List<ProductCharacteristic> productCharacteristics = await ProductCharacteristicService.GetAllByCategoryIdsAndTypesAsync(
            relatedCategoryIds, productCharacteristicTypes, true);

        foreach (ProductProperty property in productProperties)
        {
            ProductCharacteristic? productCharacteristic = productCharacteristics?
                .FirstOrDefault(characteristic => characteristic.Name == property.Characteristic);

            if (productCharacteristic is null) continue;

            ProductPropertyDisplayData productPropertyDisplayData = new()
            {
                ProductCharacteristic = new ProductCharacteristicDisplayData
                {
                    Id = productCharacteristic!.Id,
                    CategoryId = productCharacteristic.CategoryId,
                    Active = productCharacteristic.Active,
                    KWPrCh = productCharacteristic.KWPrCh
                },
                Name = property.Characteristic,
                Value = property.Value,
                DisplayOrder = property.DisplayOrder
            };

            ProductProperties.Add(productPropertyDisplayData);
        }

        List<ProductImageFileData> productImageFileNameInfos = await ProductImageFileService.GetAllInProductAsync(Product.Id);

        foreach (ProductImageFileData imageFileNameInfo in productImageFileNameInfos)
        {
            if (imageFileNameInfo.FileName is null) continue;

            ProductImageDisplayData productImageDisplayData = new()
            {
                ImageSrc = $"/api/images/imageFileData/{imageFileNameInfo.FileName}",
            };

            ProductImages.Add(productImageDisplayData);
        }

        List<Promotion> productPromotions = await PromotionService.GetAllForProductAsync(ProductId.Value);

		ProductPromotions = productPromotions.Where(x =>
        {
            if (x.Id != Product.PromotionPid && x.Id != Product.PromotionRid) return false;

            return (x.StartDate is null || x.StartDate <= DateTime.Now) && (x.ExpirationDate is null || x.ExpirationDate >= DateTime.Now);
        })
            .ToList();

        ProductSearchStringParts = await SearchStringOriginService.GetSearchStringPartsAndDataAboutTheirOriginAsync(
            Product.SearchString, Product.CategoryId);

        Client.Product.ProductData.DisplayPrice? displayPrice = null;
        Client.Product.ProductData.DisplayPrice? secondaryDisplayPrice = null;

        if (Product.Price is not null && Product.Currency is not null)
        {
            OneOf<decimal, OneOf.Types.NotFound> getPriceInEurResult = await CurrencyConversionService.ChangeCurrencyAsync(
                Product.Price.Value, Product.Currency.Value, Currency.EUR);

            OneOf<decimal, OneOf.Types.NotFound> getPriceInBgnResult = await CurrencyConversionService.ChangeCurrencyAsync(
                Product.Price.Value, Product.Currency.Value, Currency.BGN);

            if (getPriceInEurResult.IsT0)
            {
                decimal priceInEur = CurrencyVATService.AddVATToPriceUsingDefaultRate(getPriceInEurResult.AsT0, 1);

                displayPrice = new()
                {
                    Amount = priceInEur,
                    Currency = Currency.EUR,
                };
            }

            if (getPriceInEurResult.IsT0)
            {
                decimal priceInBgn = CurrencyVATService.AddVATToPriceUsingDefaultRate(getPriceInBgnResult.AsT0, 1);

                secondaryDisplayPrice = new()
                {
                    Amount = priceInBgn,
                    Currency = Currency.BGN,
                };
            }
        }

        if (displayPrice is not null)
        {
            ProductPriceData = new()
            {
                DisplayPrice = displayPrice.Value,
                SecondaryDisplayPrice = secondaryDisplayPrice,
            };
        }
    }
}