@page
@using MOSTComputers.UI.Web.RealWorkTesting.Models.Product
@using MOSTComputers.UI.Web.RealWorkTesting.Utils.MappingUtils;
@using MOSTComputers.Models.Product.Models;
@using MOSTComputers.UI.Web.RealWorkTesting.Pages.Shared;
@using MOSTComputers.UI.Web.RealWorkTesting.Pages;

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Pages/Shared/ProductDisplayPopupsCommon.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/Shared/ProductDisplayImagesPopup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/Shared/SearchStringOriginSmallPopupsDisplayPartial.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/Shared/ProductChangesPopup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/Shared/ProductFullDisplayWithXmlPopup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/NotificationBox.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/Index.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/Pages/Index.js"></script>
    <script src="~/js/StringManipulation/DecodeFromHtml.js"></script>
    <script src="~/js/StringManipulation/HtmlEncoding.js"></script>
    <script src="~/js/Pages/Shared/ProductImagesPopupControl.js"></script>
    <script src="~/js/Pages/Shared/ProductFirstImagePopupControl.js"></script>
    <script src="~/js/Pages/Shared/ProductFullWithXmlPopupControl.js"></script>
    <script src="~/js/Pages/Shared/ProductChangesPopupControl.js"></script>
    <script src="~/js/Pages/Shared/ProductFullHtmlBasedDisplayPopupControl.js"></script>
    <script src="~/js/Pages/Shared/SearchStringOriginSmallPopupsDisplayControl.js"></script>
    <script src="~/js/Pages/ProductAndPropertyDisplayCommon.js"></script>
    <script src="~/js/NotificationBox.js"></script>
}

<div>
    <div class="product-display-topbar">

        @{
            int? productHighestId = Model.GetProductHighestId();
        }
        
        <input id="_productTableSelectByElementId_input_hidden" class="display-none" type="number" value="@productHighestId" />
        <input id="_productTableSelectByElementId_tableIndex_input_hidden" class="display-none" type="number" value="0" />
                
        <input id="productTableIdInput" type="number" placeholder="-" />

        <button id="productTableIdInputButton" type="button" onclick="getOnlyProductWithId(
            'productTableIdInput',
            'productTableTbody',
            'productTable_item-@Model.Products.Count.ToString()',
            @Model.Products.Count,
            '_productTableSelectByElementId_input_hidden',
            '_productTableSelectByElementId_tableIndex_input_hidden')">
            Search
        </button>

        <div class="product-display-highest-id-container">

            <p class="product-display-highest-id-top-paragraph">Max ID + 1</p>

            <label id="productTableHighestIdLabel" class="link-info product-display-highest-id-display-label"
                onclick="getOnlyProductWithHighestId(
                    'productTableTbody',
                    'productTable_item-@Model.Products.Count.ToString()',
                    @Model.Products.Count,
                    '_productTableSelectByElementId_input_hidden',
                    'productTable_item-@Model.Products.Count.ToString()__hiddenProductIdInput',
                    '_productTableSelectByElementId_tableIndex_input_hidden')">
                @(productHighestId is not null ? productHighestId + 1 : null)
            </label>
        </div>

        <button id="productTableSelectByElementIdButton" type="button" onclick="addNewProductWithExistingProductData(
            '_productTableSelectByElementId_input_hidden',
            'productTableHighestIdLabel',
            'productTableTbody',
            'productTable_item-@Model.Products.Count.ToString()',
            @Model.Products.Count,
            '_productTableSelectByElementId_tableIndex_input_hidden',
            [
                'productTable_item-__hiddenNameInput',
                'productTable_item-_AdditionalWarrantyPriceInput',
                'productTable_item-_AdditionalWarrantyTermMonthsInput',
                'productTable_item-_StandardWarrantyPriceInput',
                'productTable_item-_StandardWarrantyTermMonthsInput',
                'productTable_item-_DisplayOrderInput',
                'productTable_item-_StatusSelect',
                'productTable_item-_PlShowInput',
                'productTable_item-_Price1Input',
                'productTable_item-_DisplayPriceInput',
                'productTable_item-_Price3Input',
                'productTable_item-_CurrencySelect',
                'productTable_item-_RowGuidInput',
                'productTable_item-_PromotionIdInput',
                'productTable_item-_PromRidInput',
                'productTable_item-_PromotionPictureIdInput',
                'productTable_item-_PromotionExpireDateInput',
                'productTable_item-_AlertPictureIdInput',
                'productTable_item-_AlertExpireDateInput',
                'productTable_item-_PriceListDescriptionInput',
                'productTable_item-_PartNumber1Input',
                'productTable_item-_PartNumber2Input',
                'productTable_item-_SearchStringInput',
                'productTable_item-_CategorySelect',
                'productTable_item-_ManifacturerSelect',
                'productTable_item-_SubCategoryIdInput',
                'productTable_item-_ProductNewStatusSelect',
                'productTable_item-_ProductXmlStatusSelect',
                'productTable_item-__hiddenProductStatusIdInput',
                'productTable_item-__hiddenReadyForImageInsertInput'])">
            Add product from existing data
        </button>

        <input id="productTableHideFirstRowsCheckboxInput" type="checkbox" class="product-display-hide-first-rows-checkbox"
            onchange="toggleFirstRows(this.checked)"/>
    </div>
    
    <table id="productTable" class="table table-responsive hover">
        <thead>
            <tr>
                <th>Product ID</th>
                <th class="hide-on-button-press">Name</th>
                <th class="hide-on-button-press">AddWrr</th>
                <th class="hide-on-button-press">AddWrrTerm</th>
                <th class="hide-on-button-press">AddWrrDef</th>
                <th class="hide-on-button-press">DefWrrTerm</th>
                <th class="hide-on-button-press">S</th>
                <th class="hide-on-button-press">Old</th>
                <th class="hide-on-button-press">PlShow</th>
                <th class="hide-on-button-press">Price1</th>
                <th class="hide-on-button-press">Price2</th>
                <th class="hide-on-button-press">Price3</th>
                <th class="hide-on-button-press">Currency</th>
                <th class="hide-on-button-press">Guid</th>
                <th class="hide-on-button-press">Promotion ID</th>
                <th class="hide-on-button-press">PromRid</th>
                <th class="hide-on-button-press">Promotion Picture ID</th>
                <th class="hide-on-button-press">Promotion Expire Date</th>
                <th class="hide-on-button-press">Alert Picture ID</th>
                <th class="hide-on-button-press">Alert Expire Date</th>
                <th class="hide-on-button-press">Price List Description</th>
                <th class="hide-on-button-press">Part No. 1</th>
                <th class="hide-on-button-press">Part No. 2</th>
                <th class="hide-on-button-press product-display-table-searchstring-column">Search String</th>
                <th class="hide-on-button-press">Category</th>
                <th class="hide-on-button-press">Manifacturer</th>
                <th class="hide-on-button-press">Sub Category ID</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Properties</th>
                <th>Product New Status</th>
                <th>Product Xml Status</th>
                <th>Image Insert</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="productTableTbody">

            @for (int i = 0; i < Model.Products.Count; i++)
            {
                ProductDisplayData product = Model.Products[i];

                IndexProductTableRowPartialModel productRowModel = Model.GetTableRowModel(product, i, "productTable_item-" + i);

                <partial name="_IndexProductTableRowPartial" model='@productRowModel' />
            }
        </tbody>
    </table>

    <button id="triggerChangesCheckButton" class="btn btn-primary product-display-trigger-changes-button"
        onclick="triggerChangesCheck('topNotificationBox')">
        Check for changes
    </button>
    
        @Html.AntiForgeryToken()
</div>

<div id="ProductFullWithXml_modal" class="modal fade" tabindex="-1" role="dialog">
    <div id="ProductFullWithXml_modal_dialog" class="modal-dialog modal-dialog-full-parent-width">
        <div id="ProductFullWithXml_popup_modal_content" class="modal-content full-parent-width full-parent-height modal-dialog-centered">
        </div>
    </div>
</div>

<div id="ProductFullHtmlBased_modal" class="modal fade" tabindex="-1" role="dialog">
    <div id="ProductFullHtmlBased_modal_dialog" class="modal-dialog modal-dialog-full-parent-width">
        <div id="ProductFullHtmlBased_popup_modal_content" class="modal-content full-parent-width full-parent-height modal-dialog-centered">
        </div>
    </div>
</div>

<div id="ProductChanges_modal" class="modal fade" tabindex="-1" role="dialog">
    <div id="ProductChanges_modal_dialog" class="modal-dialog modal-dialog-full-parent-width">
        <div id="ProductChanges_popup_modal_content" class="modal-content full-parent-width full-parent-height modal-dialog-centered">
        </div>
    </div>
</div>

<div id="ProductFirstImage_modal" class="modal fade" tabindex="-1" role="dialog">
    <div id="ProductFirstImage_modal_dialog" class="modal-dialog modal-dialog-full-parent-width">
        <div id="ProductFirstImage_popup_modal_content" class="modal-content full-parent-width full-parent-height modal-dialog-centered">
        </div>
    </div>
</div>

<div id="ProductImages_modal" class="modal fade" tabindex="-1" role="dialog">
    <div id="ProductImages_modal_dialog" class="modal-dialog modal-dialog-full-parent-width">
        <div id="ProductImages_popup_modal_content" class="modal-content full-parent-width full-parent-height modal-dialog-centered">
        </div>
    </div>
</div>

<ul id="topNotificationBox" class="top-notification-box"></ul>