@model ChangePasswordPopupPartialModel
@{
}

<div class="modal-header full-parent-width">
    <h5 class="modal-title modal-title">Change password:</h5>

    <h4 class="modal-title">@Model.UserData.User.UserName</h4>
    <h4 id="modal_title_userIdShow" class="modal-title modal-product-name">ID: @Model.UserData.User.Id</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="closeModal('@Model.ModalContainerId')">
    </button>
</div>

<div id="ProductFirstImage_popup" class="modal-body full-parent-width bg-white overflow-y-auto">
    <div class="container border-2 full-parent-width full-parent-height p-4 d-flex flex-column align-content-center justify-content-center">
        <input id="change_password_popup_new_password_input" type="password" />
        <button id="change_password_popup_new_password_confirm_button" type="button"
            class="btn btn-success"
            onclick="changeUserPassword('@Model.UserData.User.Id', 'change_password_popup_new_password_input', '@Model.NotificationBoxId')">
            Change
        </button>
    </div>
</div>