@page "{ReturnUrl?}"
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model MOSTComputers.UI.Web.Pages.Accounts.SignInModel
@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/HtmlBodyHavePageHeight.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/Accounts/LoginAndSignInCommon.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/Pages/Accounts/SignIn.js"></script>
}

<form method="post" asp-page-handler="SignIn" class="parent-fullscreen-form children-limit-space-with-padding">

    <div class="container login-or-signIn-container mb-2 bg-white">

        <div class="row login-or-signIn-row mb-2">

            <div class="col-3 login-or-signIn-label-column">
                <label asp-for="@Model.Username">Username</label>
            </div>

            <div class="col-7 login-or-signIn-input-column">
                <input asp-for="@Model.Username" type="text" class="full-parent-width full-parent-height" />
            </div>

            <span asp-validation-for="@Model.Username" class="text-danger validation-span"></span>
        </div>

        <div class="row login-or-signIn-row mb-2">

            <div class="col-3 login-or-signIn-label-column">
                <label asp-for="@Model.Password">Password</label>
            </div>

            <div class="col-7 login-or-signIn-input-column">
                <input asp-for="@Model.Password" type="password" class="full-parent-width full-parent-height" />
            </div>

            @{ModelErrorCollection? passwordErrors = ModelState["Password"]?.Errors;}

            @if (passwordErrors is not null)
            {
                @foreach (ModelError error in passwordErrors)
                {
                    <span class="text-danger validation-span">@error.ErrorMessage</span>
                }
            }
        </div>

        <div class="row login-or-signIn-row mb-3">

            <div class="col-3 login-or-signIn-label-column">
                <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
            </div>

            <div class="col-7">
                <input asp-for="@Model.ConfirmPassword" type="password" class="full-parent-width full-parent-height" />
            </div>

            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger validation-span"></span>
        </div>

        <div class="row login-or-signIn-row mb-2">
            <div class="col-4">
                <button type="submit" class="btn btn-primary full-parent-width">Sign In</button>
            </div>
        </div>

        <div class="row login-or-signIn-row mb-3">
            <div class="col-5 login-or-signIn-other-page-redirect-container">
                <label>Already have an account:</label>
                <button type="button" class="btn btn-secondary login-or-signIn-other-page-redirect-button"
                    onclick="redirectToLogInPage('_hidden_returnUrl_input')">
                    Log In
                </button>
            </div>
        </div>
    </div>

    <input id="_hidden_returnUrl_input" type="hidden" asp-for="ReturnUrl" />
</form>