@page
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using static MOSTComputers.UI.Web.RealWorkTesting.Utils.SelectListItemUtils;
@model SignInModel
@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/HtmlBodyHavePageHeight.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/Accounts/LoginAndSignInCommon.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/Accounts/CommonStyles.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/Pages/Accounts/CommonElements.js"></script>
    <script src="~/js/Pages/Accounts/SignIn.js"></script>
}

<div class="parent-fullscreen-form children-limit-space-with-padding">

    <div class="container login-or-signIn-container mb-2 bg-white">

        <div class="row login-or-signIn-row mb-2">

            <div class="col-3 login-or-signIn-label-column">
                <label asp-for="@Model.Username">Username</label>
            </div>

            <div class="col-7 login-or-signIn-input-column">
                <input id="username_input" asp-for="@Model.Username" type="text" class="full-parent-width full-parent-height" />
            </div>

            <div data-valmsg-for="@(nameof(Model.Username))" class="text-danger validation-span"></div>
        </div>

        <div class="row login-or-signIn-row mb-2">

            <div class="col-3 login-or-signIn-label-column">
                <label asp-for="@Model.Password">Password</label>
            </div>

            <div class="col-7 login-or-signIn-input-column">
                <input id="password_input" asp-for="@Model.Password" type="password" class="full-parent-width full-parent-height" />
            </div>

            <div data-valmsg-for="@(nameof(Model.Password))" class="text-danger validation-span"></div>
        </div>

        <div class="row login-or-signIn-row mb-3">

            <div class="col-3 login-or-signIn-label-column">
                <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
            </div>

            <div class="col-7">
                <input id="confirmpassword_input" asp-for="@Model.ConfirmPassword" type="password" class="full-parent-width full-parent-height" />
            </div>

            <div data-valmsg-for="@(nameof(Model.ConfirmPassword))" class="text-danger validation-span"></div>
        </div>

        <div class="row login-or-signIn-row mb-3">
            <div class="col-3 login-or-signIn-label-column">
                <label>Roles</label>
            </div>

            <div class="col-7">
                <ul class="full-parent-width list-style-none d-flex flex-column p-0 m-0">

                    @{
                        List<SelectListItem> userRolesSelectListItems = GetUserRolesSelectItems();
                    }

                    @for (int i = 0; i < userRolesSelectListItems.Count; i++)
                    {
                        SelectListItem item = userRolesSelectListItems[i];

                        <li id="role_element-@i" name="role_element" class="full-parent-width d-inline-flex"
                            onclick="toggleRoleSelect('role_element-@i', 'role_element_checkbox-@i')">
                            <div class="col-3">
                                <input id="role_element_checkbox-@i" name="role_element_checkbox" type="checkbox" data-selectedRoleValue="@item.Value" />
                            </div>
                            <div class="col-9 align-text-center">
                                <label>@item.Text</label>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="row login-or-signIn-row mb-2">
            <div class="col-4">
                <button type="button" class="btn btn-primary full-parent-width"
                    onclick="signIn('username_input', 'password_input', 'confirmpassword_input', 
                        'role_element_checkbox', 'role_element', '_hidden_returnUrl_input', '_hidden_usage_input')">
                    Sign In
                </button>
            </div>
        </div>

        <div class="row login-or-signIn-row mb-3">
            <div class="col-5 login-or-signIn-other-page-redirect-container">
                <label>Already have an account:</label>
                <button type="button" class="btn btn-secondary login-or-signIn-other-page-redirect-button"
                    onclick="redirectToLogInPage('_hidden_returnUrl_input')">
                    Log In
                </button>
            </div>
        </div>

        <span data-validation-summary class="text-danger"></span>
    </div>

    <input id="_hidden_usage_input" type="hidden" asp-for="Usage" />
    <input id="_hidden_returnUrl_input" type="hidden" asp-for="ReturnUrl" />
</div>

@Html.AntiForgeryToken()