@using MOSTComputers.UI.Web.Models;
@model MOSTComputers.UI.Web.Pages.Shared.DisplayPropertyCreateRequestPartialModel
@{
    Layout = null;
}

<table class="full-parent-width" style="margin:20px 25px">
    <tbody>
        @for (int j = 0; j < Model.DisplayProperties.Count; j++)
        {
            DisplayPropertyCreateRequest propertyCreateRequest = Model.DisplayProperties[j];
            <tr>
                <td style="width:20%;">
                    @if (propertyCreateRequest.ProductCharacteristicId == null)
                    {
                        // <select asp-items="@Model[i].Characteristics" onselect="Failed_Characteristic_Name_Select_onSelect(@i,@propertyCreateRequest.Name,this.value)"></select>
                        <select name="InvalidPropertySelect" asp-items="@Model.DisplayProductCharacteristics" onchange="Failed_Characteristic_Name_Select_onSelect(@Model.DisplayIndex,'@propertyCreateRequest.Name',this.value)"></select>
                    }
                    else
                    {
                        <label>@propertyCreateRequest.Name</label>
                    }

                </td>

                <td style="width:60%;">
                    <label class="element-collection-dataItem">@propertyCreateRequest.Value</label>
                </td>

                <td style="width:10%;">
                    <label name="PropertyIdText">ID: @propertyCreateRequest.ProductCharacteristicId</label>
                </td>
            </tr>

            if (propertyCreateRequest.ProductCharacteristicId == null)
            {
                <tr>
                    <td colspan="3">
                        <p class="invalid-characteristic-name-text">The product characteristic "@propertyCreateRequest.Name" does not exist, please select a characteristic from the ones above</p>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
