@using System.Collections.Generic;
@using MOSTComputers.Models.Product.Models;

@model ProductImagesDisplayPopupModel;

<div class="modal-header full-parent-width">
    <h5 class="modal-title modal-title">Images:</h5>

    <h4 class="modal-title modal-product-name">@Model.Product.Name</h4>
    <h4 id="modal-title_productIdShow" class="modal-title modal-product-name">ID: @Model.Product.Id</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="close_ProductImages_modal()">
    </button>
</div>
<div id="ProductImages_popup" class="modal-body full-parent-width bg-white">
    <div class="container border-2 full-parent-width full-parent-height">
        <div id="ProductImages_popup_main_img_display">

            @if (Model.Product.Images is not null
                && Model.Product.Images.Count > 0)
            {
                ProductImage firstImage = Model.Product.Images.First();

                <img id="productCurrentImageDisplay" name="Image #0" src="data:@firstImage.ImageFileExtension;base64,@Convert.ToBase64String(firstImage.ImageData!)" style="height:inherit" />
            }

        </div>
        
        <ul id="productImageDisplay_ul" class="full-parent-width bg-white" onmousewheel="scrollHorizontally()"
            
            ondragover="productImageDisplay_ul_ondragover(event)">

            @if (Model.Product.Images is not null
            && Model.Product.ImageFileNames is not null)
            {
                for (int i = 0; i < Model.Product.Images.Count; i++)
                {
                    ProductImage image = Model.Product.Images[i];
                    ProductImageFileNameInfo imageFileNameInfo = @Model.Product.ImageFileNames[i];

                    if (image.ImageData is null) continue;

                    string imageSrc = $"data:{image.ImageFileExtension};base64,{Convert.ToBase64String(image.ImageData)}";

                    float opacityOfLi = imageFileNameInfo.Active ? 1.0F : 0.35F;

                    <li id="productImageDisplay_ul_li#@i" draggable="true" ondragstart="productImageDisplay_ul_li_ondragstart(event)" ondragend="productImageDisplay_ul_li_ondragend(event)"
                        style="opacity: @opacityOfLi">

                        @if (imageFileNameInfo.Active)
                        {
                            <div style="display: inline; position: relative; top: 10px; bottom: 0px;">
                                <input id="productImageDisplay_ul_li_activityStatusCheckbox#@i" type="checkbox" aria-label="Close" checked
                                       onchange="update_productImageDisplay_ul_li_activeState('productImageDisplay_ul_li#@i', 'productImageDisplay_ul_li_activityStatusCheckbox#@i', @Model.Product.Id, @imageFileNameInfo.DisplayOrder, '@imageFileNameInfo.FileName')"
                                       style="position: absolute; width: 10px; height: 10px; padding: 0px;" />
                            </div>
                        }
                        else
                        {
                            <div style="display: inline; position: relative; top: 10px; bottom: 0px;">
                                <input id="productImageDisplay_ul_li_activityStatusCheckbox#@i" type="checkbox" aria-label="Close"
                                       onchange="update_productImageDisplay_ul_li_activeState('productImageDisplay_ul_li#@i', 'productImageDisplay_ul_li_activityStatusCheckbox#@i', @Model.Product.Id, @imageFileNameInfo.DisplayOrder, '@imageFileNameInfo.FileName')"
                                       style="position: absolute; width: 10px; height: 10px; padding: 0px;" />
                            </div>
                        }

                        <button class="btn bg-white" onclick="displayImage('@imageSrc', 'Image #@i')" name="Image #@i">
                            <img src="@imageSrc" title="Image #@i" draggable="false" />
                        </button>

                        <div style="display: inline; position: relative; top: 10px; bottom: 0px;">
                            <button type="button" class="btn-close" aria-label="Close" onclick="delete_productImageDisplay_ul_li('productImageDisplay_ul_li#@i', @image.Id)"
                                    style="position: absolute; width: 10px; height: 10px; padding: 0px;" />
                        </div>
                    </li>
                }

                <li id="removeButtonLi" style="height: 100%; position: relative; border: 1px solid black; border-radius: 4px; ">
                    <input class="btn bg-white" type="file" accept="image/*" onchange="addNewImage(this)"
                    style="position: absolute; top:0px; bottom: 0px; visibility: visible; opacity: 0; width: 150px;" />

                    <label style="font-size: 52px; text-align: center; width: 150px;">+</label>
                </li>
            }
        </ul>
    </div>
</div>

<div class="modal-footer full-parent-width" style="height:60px;">
    <table id="ProductImages_modal_footer_buttons_table" class="full-parent-width full-parent-height">
        <tr class="full-parent-width full-parent-height">
            <td width="50%" style="padding:0px">
                <button id="copyImageButton" class="full-parent-width footer-button btn btn-primary" onclick="copyImageDataToClipboard()">
                    <h7 class="footer-button-main-text">Copy to clipboard</h7>
                    <p class="footer-button-small-text">(Or just press Ctrl + S)</p>
                </button>
            </td>

            <td width="50%" style="padding:0px">
                <button id="copyImageButton" class="full-parent-width footer-button btn btn-primary" onclick="getImageFileData(@Model.Product.Id)">
                    <h7 class="footer-button-main-text">Save</h7>
                    <p class="footer-button-small-text">(Or just press Ctrl + A)</p>
                </button>
            </td>
        </tr>
    </table>
</div>