@using System.Collections.Generic;
@using MOSTComputers.Models.Product.Models;
@using MOSTComputers.Services.SearchStringOrigin.Models;
@using MOSTComputers.UI.Web.Pages;
@using MOSTComputers.UI.Web.StaticUtilities;

@model ProductsAndStatusesDisplayPartialTableModel;
@{
}

@for (int i = 0; i < Model.ProductsAndStatuses.Count; i++)
{
    Product product = Model.ProductsAndStatuses[i].Product;
    ProductStatuses productStatuses = Model.ProductsAndStatuses[i].ProductStatuses;

    <tr>
        <td>
            <label>@product.Status</label>
        </td>

        <td class="product-name-td full-parent-height">
            <a class="btn full-parent-width" asp-page="/ProductPropertiesEditor" asp-route-ProductId="@product.Id" name="Name_label">@product.Name</a>
        </td>

        <td>

            <div class="searchStringPartAndOriginPopupDisplay_container_div">
                <ul class="searchStringPartAndOriginPopupDisplay_ul">

                    @{
                        int j = 0;
                    }

                    @if (Model.ProductsAndStatuses[i].SearchStringPartOriginDataList is not null)
                    {
                        foreach (Tuple<string, List<SearchStringPartOriginData>?> kvp in Model.ProductsAndStatuses[i].SearchStringPartOriginDataList!)
                        {
                            string searchStringPart = kvp.Item1;

                            string searchStringPartPlusSpace = $"{searchStringPart} ";

                            <li>
                                <table onmouseleave="removeSearchStringOriginDataSmallPopup(@i, @j, '@JsEscapeStringUtils.JavascriptEncode(searchStringPart)')">
                                    <tr>
                                        <td id="searchStringPart_h2#@j" name="searchStringPart_h2"
                                            class="searchStringPart_td"
                                            onmouseover="showSearchStringOriginDataSmallPopup(@i, @j, '@searchStringPart')"
                                            onclick="displayPopupAndTransportToSearchStringOriginDisplay(@product.Id, @j)">

                                            <h7 class="productSearchString-popup-searchStringPart-label">@searchStringPart</h7>
                                        </td>
                                    </tr>

                                    <tr class="searchStringPartOrigin_li_container_row">
                                        <td id="searchStringPartOrigin_li#@i#@j" name="searchStringPartOrigin_li"
                                            class="searchStringPartOrigin_li" style="visibility:hidden;">

                                            @if (kvp.Item2?.Count == 1)
                                            {
                                                SearchStringPartOriginData searchStringPartOriginData = kvp.Item2[0];

                                                <ul class="searchStringPartOrigin_li_singleItemContainerList">
                                                    <li class="searchStringPartOrigin_li_copyButtonContainer">
                                                        <button class="searchStringPartOrigin_li_copyButton" onclick="copySearchStringPartToClipboard('@searchStringPart')">
                                                            +
                                                        </button>
                                                    </li>
                                                    <li id="searchStringPartOrigin_searchStringPartDisplay#@j" name="searchStringPartOrigin_searchStringPartDisplay"
                                                        class="searchStringPartOrigin_li_singleItemContainer_SearchStringPart_li">
                                                        <h4 class="searchStringPartOrigin_li_singleItemContainer_SearchStringPart_h4">@searchStringPart</h4>
                                                    </li>
                                                    <li class="searchStringPartOrigin_li_displayInline">
                                                        <h6 class="searchStringPartOrigin_li_singleItemContainer_characteristicId_h6">
                                                            ID: @searchStringPartOriginData.Characteristic.Id
                                                        </h6>
                                                    </li>
                                                </ul>

                                                <h5>@searchStringPartOriginData.Characteristic.Meaning</h5>
                                            }
                                            else if (kvp.Item2?.Count > 1)
                                            {
                                                <ul class="searchStringPartOrigin_li_multipleItemContainerList">
                                                    <li class="searchStringPartOrigin_li_copyButtonContainer">
                                                        <button class="searchStringPartOrigin_li_copyButton" onclick="copySearchStringPartToClipboard('@searchStringPart')">
                                                            +
                                                        </button>
                                                    </li>

                                                    <li id="searchStringPartOrigin_searchStringPartDisplay#@j" name="searchStringPartOrigin_searchStringPartDisplay"
                                                        class="searchStringPartOrigin_li_displayInline">
                                                        <h4 class="searchStringPartOrigin_searchStringPartDisplay_searchStringPart_h4">@searchStringPart</h4>
                                                    </li>

                                                    <li class="searchStringPartOrigin_li_displayInline">
                                                        <p class="searchStringPartOrigin_li_multipleItemContainerList_possibilitiesText">@kvp.Item2.Count possibilities</p>

                                                        <ul id="searchStringPartOrigin_multipleOriginsDisplayList#@i#@j"
                                                            class="searchStringPartOrigin_multipleOriginsDisplayList">

                                                            @for (int k = 0; k < kvp.Item2.Count; k++)
                                                            {
                                                                SearchStringPartOriginData searchStringPartOriginData = kvp.Item2[k];

                                                                <li class="searchStringPartOrigin_multipleOriginsDisplayList_containerOfLabels_li">

                                                                    <ul class="searchStringPartOrigin_multipleOriginsDisplayList_containerOfLabels_ul">
                                                                        <li class="searchStringPartOrigin_li_displayInline">
                                                                            <h4 name="searchStringPartOrigin_multipleOriginsDisplayList_nameLabel#@i#@j"
                                                                                class="searchStringPartOrigin_multipleOriginsDisplayList_nameLabel">@searchStringPartOriginData.Characteristic.Name</h4>
                                                                        </li>
                                                                        <li class="searchStringPartOrigin_li_displayInline">
                                                                            <h6 class="searchStringPartOrigin_li_multipleItemContainer_characteristicId_h6">
                                                                                ID: @searchStringPartOriginData.Characteristic.Id
                                                                            </h6>
                                                                        </li>
                                                                    </ul>

                                                                    <h5 name="searchStringPartOrigin_multipleOriginsDisplayList_meaningLabel#@i#@j">@searchStringPartOriginData.Characteristic.Meaning</h5>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </li>
                                                </ul>
                                            }
                                            else
                                            {
                                                <h4 id="searchStringPartOrigin_searchStringPartDisplay#@j" name="searchStringPartOrigin_searchStringPartDisplay"
                                                    class="searchStringPartOrigin_noItems_searchStringPartDisplay">
                                                    @searchStringPart
                                                </h4>

                                                <h4>No information could be found.</h4>
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </li>

                            <li>
                                &nbsp
                            </li>
  
                            j++;
                        }
                    }
                </ul>

                <label name="SearchString_label" class="productDisplay_table_displayLabel">@product.SearchString</label>
            </div>

        </td>

        <td class="productDisplay_table_displayLabel">
            <label>@product.Id</label>
        </td>

        <td class="productDisplay_table_displayLabel">
            <label>@product.Category?.Description</label>
        </td>

        <td class="productDisplay_table_displayLabel">
            <label>@product.Price</label>
        </td>

        <td class="productDisplay_table_displayLabel">
            <label>@productStatuses.NeedsToBeUpdated</label>
        </td>

        <td class="productDisplay_table_displayLabel">
            <label>@productStatuses.IsProcessed</label>
        </td>

        <td>
            <button class="btn" onclick="showImagePopupData(@product.Id)">
                <img src="img/show_Images_ProductDisplay_icon.png" alt="Images"
                     class="imagePopupButton_imagePopupButtonImage"/>
            </button>
        </td>

        <td>
            <button class="btn btn-secondary" onclick="showXmlPopupData(@product.Id)">View XML</button>
        </td>
    </tr>
}