@using MOSTComputers.Models.Product.MappingUtils;
@using MOSTComputers.Models.Product.Models;
@using MOSTComputers.UI.Web.Mapping;
@using System.Web;
@model MOSTComputers.UI.Web.Pages.Shared.ProductCompareEditor.ProductFullEditorPartialModel

<div class="container product-full-editor-container full-parent-width full-parent-height">

    @if (Model.Product is null)
    {
        <h1>Product is empty, or information about it is missing.</h1>

        return;
    }
    else
    {
        string searchStringSearchItemId = $"{Model.ElementIdAndNamePrefix}productFullEditor_WholeSearchStringSearch";
        string otherSearchStringSearchItemId = $"{Model.OtherElementIdAndNamePrefix}productFullEditor_WholeSearchStringSearch";

        string otherContainerPrefix = Model.OtherElementIdAndNamePrefix.Substring(0, Model.OtherElementIdAndNamePrefix.Length - 1) + "Container";

        <div>
            <h1 class="create-request-name">@Model.Product.Name</h1>

            <h5 style="text-align: center; color: gray;">ID: @Model.Product.Id</h5>
        </div>
        
        <div id="@Model.ImagesContainerId">
            <partial name="ProductCompareEditor/_ProductFullEditorImageDisplayPartial"
                model="Model" />
        </div>

        <h3 class="create-request-origins-text">Origins and identification</h3>

        <div class="element-collection">

            <strong class="create-request-important-characteristic">Category:</strong>

            <label class="element-collection-dataItem">@Model.Product.Category?.Description</label>

        </div>

        <div class="element-collection">

            <strong class="create-request-important-characteristic">Manifacturer:</strong>

            <label class="element-collection-dataItem">@Model.Product.Manifacturer?.RealCompanyName</label>

        </div>
        
        <div class="element-collection">

            <strong class="create-request-important-characteristic">Part No. 1:</strong>

            <label class="element-collection-dataItem">@Model.Product.PartNumber1</label>

        </div>

        <div class="element-collection">

            <strong class="create-request-important-characteristic">Part No. 2:</strong>

            <label class="element-collection-dataItem">@Model.Product.PartNumber2</label>

        </div>
        
        <div class="element-collection searchString-list-container-element-collection">

            <strong class="create-request-important-characteristic">Search string:&nbsp;</strong>

            <ul class="product-full-editor-searchString-list">

                <partial name="_SearchStringOriginSmallPopupsDisplayPartial"
                    model="@new SearchStringOriginSmallPopupsDisplayPartialModel(
                        Model.Product.Id,
                        new List<string>() { searchStringSearchItemId, otherSearchStringSearchItemId },
                        Model.ProductSearchStringPartsAndDataAboutTheirOrigin,
                        true,
                        Model.ElementIdAndNamePrefix)" />
            </ul>

            <input id="@searchStringSearchItemId" type="button"
                class="product-full-editor-searchString-searchItem full-parent-height bg-white"
                onclick="copySearchStringSearchDataToClipboard(this.value)" />
        </div>

        <div class="element-collection">

            <strong class="create-request-important-characteristic">Status:</strong>

            <label class="element-collection-dataItem">@ProductStatusMapping.GetBGStatusStringFromStatusEnum(Model.Product.Status)</label>

        </div>

        <div class="element-collection">

            <label class="link-primary"
                onclick="openHalfWindow('@Model.XmlProduct?.VendorUrl')">
                @Model.XmlProduct?.VendorUrl
            </label>

            <a href="@Model.XmlProduct?.VendorUrl">@Model.XmlProduct?.VendorUrl</a>


        </div>
        
        List<ProductProperty> properties = Model.Product.Properties;

        @if (properties is not null)
        {
            <h3 class="create-request-characteristics-text">Characteristics</h3>
            
            <div id="@(Model.ElementIdAndNamePrefix)propertiesDataContainer"
                ondragover="propertyDisplayTable_ondragover(event,
                    @Model.ProductIndex,
                    '@(Model.ElementIdAndNamePrefix)',
                    '@(Model.ElementIdAndNamePrefix)propertyDisplay_table',
                    '@(Model.ElementIdAndNamePrefix)propertiesDataContainer',
                    '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_CharacteristicId_Data_label__hidden',
                    '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_Value_div',
                    '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_XmlPlacement_checkbox',
                    '@(Model.OtherElementIdAndNamePrefix)productPropertyDisplay_CharacteristicId_Data_label__hidden',
                    '@(Model.OtherElementIdAndNamePrefix)productPropertyDisplay_Value_div',
                    '@(Model.OtherElementIdAndNamePrefix)productPropertyDisplay_XmlPlacement_checkbox')">

                <table id="@(Model.ElementIdAndNamePrefix)propertyDisplay_table"
                    class="full-parent-width"
                    style="min-height: 30px; margin-top: 25px;"
                    ondragend="propertyDisplayTable_ondragend(
                        @Model.ProductIndex,
                        '@(Model.OtherElementIdAndNamePrefix)',
                        '@(Model.OtherElementIdAndNamePrefix)propertyDisplay_table',
                        '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_CharacteristicId_Data_label__hidden',
                        '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_XmlPlacement_checkbox',
                        '@(otherContainerPrefix)_ProductDisplay')">

                    <tbody id="@(Model.ElementIdAndNamePrefix)propertyDisplay_table_tbody">
                        
                        @for (int i = 0; i < properties.Count; i++)
                        {
                            ProductProperty productProperty = properties[i];

                            string siteUrlPropertyClass = "";
                            
                            if (productProperty.XmlPlacement == XMLPlacementEnum.AsSiteUrl)
                            {
                                siteUrlPropertyClass = "siteUrlProperty";
                            }

                            if (productProperty.ProductCharacteristicId is null
                            || productProperty.ProductCharacteristicId == 0)
                            {
                                <tr id="@(Model.ElementIdAndNamePrefix)propertytr-@i"
                                name="@(Model.ElementIdAndNamePrefix)propertytr"
                                    draggable="true"
                                    ondragstart="propertyTr_ul_li_ondragstart(event, '@(Model.ElementIdAndNamePrefix)propertytr-@i')">
                                    <td class="property-td-alignedOnTop propertyWithoutCharacteristicId-characteristic-select-td">
                                        <select id="@(Model.ElementIdAndNamePrefix)propertytr_characteristic_select-@i"
                                            name="@(Model.ElementIdAndNamePrefix)propertytr_characteristic_select"
                                            asp-items="ProductCompareEditorModel.GetRemainingCharacteristicsForProduct(
                                                Model.Product, Model.CharacteristicsRelatedToProduct, true)"
                                            onchange="PropertyWithoutCharacteristicLocal_select_onchange(
                                                @Model.ProductIndex,
                                                this.value,
                                                '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_CharacteristicId_Data_label__hidden-@i',
                                                '@(Model.ElementIdAndNamePrefix)propertytr_characteristic_select',
                                                '@(Model.ElementIdAndNamePrefix)propertytr_characteristic_select-@i')">
                                        </select>
                                    </td>
                                    
                                    <td class="property-value-td">
                                        <div id="@(Model.ElementIdAndNamePrefix)productPropertyDisplay_AutoExpandTextareaWrapper_div-@i"
                                            class="full-parent-width full-parent-height">
                                            <div id="@(Model.ElementIdAndNamePrefix)productPropertyDisplay_Value_div-@i"
                                                name="@(Model.ElementIdAndNamePrefix)productPropertyDisplay_Value_div"
                                                class="element-collection-dataItem full-parent-width full-parent-height property-value-div @(siteUrlPropertyClass)"
                                                contenteditable="true" spellcheck="false"
                                                data-val="true" data-val-required="Property is required"
                                                data-val-maxlength="Property cannot exceed 200 characters" data-val-maxlength-max="200"
                                                oninput="addValidationForPropertyValue('@(Model.ElementIdAndNamePrefix)productPropertyDisplay_Value_div-@i',
                                                '@Model.ValidationFormId',
                                                '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_Value_div-@i-validation')"
                                                onclick="productPropertyDisplay_value_div_onclick(event,
                                                    '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_XmlPlacement_checkbox-@i',
                                                    '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_Value_div-@i')"
                                                onfocusout="updatePropertyInTable(
                                                    @Model.ProductIndex,
                                                    '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_CharacteristicId_Data_label__hidden-@i',
                                                    '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_Value_div-@i',
                                                    '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_XmlPlacement_checkbox-@i',
                                                    '@(Model.ElementIdAndNamePrefix)propertytr_characteristic_select-@i',
                                                    '@HttpUtility.HtmlEncode(productProperty.Characteristic)')">
                                                @productProperty.Value
                                            </div>
                                        </div>

                                        <span id="@(Model.ElementIdAndNamePrefix)productPropertyDisplay_Value_div-@i-validation"
                                            class="text-danger"
                                            data-valmsg-replace="true"></span>
                                    </td>

                                    <td class="property-td-alignedOnTop property-xmlPlacement-td">
                                        <input id="@(Model.ElementIdAndNamePrefix)productPropertyDisplay_XmlPlacement_checkbox-@i"
                                            name="@(Model.ElementIdAndNamePrefix)productPropertyDisplay_XmlPlacement_checkbox"
                                            type="checkbox"
                                            class="product-xmlPlacement-checkbox"
                                            onchange="productPropertyDisplay_XmlPlacement_checkbox_onchange(
                                                '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_XmlPlacement_checkbox-@i',
                                                '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_Value_div-@i')"/>
                                    </td>
                                    
                                    <td class="property-td-alignedOnTop property-delete-button-td">
                                        <button id="@(Model.ElementIdAndNamePrefix)productPropertyDisplay_Delete_button-@i"
                                            name="@(Model.ElementIdAndNamePrefix)productPropertyDisplay_Delete_button"
                                            class="btn btn-danger btn-close"
                                            onclick="deletePropertyInTableByLabelId(
                                                @Model.ProductIndex,
                                                '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_CharacteristicId_Data_label__hidden-@i',
                                                '@(Model.ElementIdAndNamePrefix)propertytr-@i',
                                                '@(Model.ElementIdAndNamePrefix)propertyDisplay_table_tbody',
                                                '@(Model.ElementIdAndNamePrefix)propertytr_characteristic_select-@i',
                                                '@(Model.ElementIdAndNamePrefix)propertytr_characteristic_select',
                                                true,
                                                '@(Model.ElementIdAndNamePrefix)invalidCharacteristicText_row-@i')">
                                        </button>
                                    </td>

                                    <td class="property-td-alignedOnTop property-characterisricId-td">
                                        <label id="@(Model.ElementIdAndNamePrefix)productPropertyDisplay_CharacteristicId_Data_label__hidden-@i"
                                            name="@(Model.ElementIdAndNamePrefix)productPropertyDisplay_CharacteristicId_Data_label__hidden"
                                            class="property-characterisricId-label">None</label>
                                    </td>
                                </tr>

                                <tr id="@(Model.ElementIdAndNamePrefix)invalidCharacteristicText_row-@i">
                                    <td colspan="4">
                                        <p class="invalid-characteristic-name-text">The product characteristic "@productProperty.Characteristic" does not exist, please select a characteristic from the ones above</p>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr id="@(Model.ElementIdAndNamePrefix)propertytr-@i"
                                    name="@(Model.ElementIdAndNamePrefix)propertytr"
                                    draggable="true"
                                    ondragstart="propertyTr_ul_li_ondragstart(event, '@(Model.ElementIdAndNamePrefix)propertytr-@i')">

                                    <td class="property-td-alignedOnTop property-characteristic-td">
                                        <label id="@(Model.ElementIdAndNamePrefix)propertytr_characteristic_label-@i"
                                            ondblclick="togglePropertyCharacteristicAndSelect(
                                                @Model.ProductIndex,
                                                '@(Model.ElementIdAndNamePrefix)propertytr_characteristic_label-@i',
                                                '@(Model.ElementIdAndNamePrefix)propertytr_characteristic_select-@i',
                                                '@(Model.ElementIdAndNamePrefix)propertytr_characteristic_select',
                                                '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_CharacteristicId_Data_label__hidden-@i')">
                                            @productProperty.Characteristic
                                        </label>
                                        <select id="@(Model.ElementIdAndNamePrefix)propertytr_characteristic_select-@i"
                                            name="@(Model.ElementIdAndNamePrefix)propertytr_characteristic_select"
                                            data-previous-value-inserted-to-product="@productProperty.ProductCharacteristicId"
                                            onchange="PropertyWithoutCharacteristicLocal_select_onchange(
                                                @(Model.ProductIndex),
                                                this.value,
                                                '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_CharacteristicId_Data_label__hidden-@i',
                                                '@(Model.ElementIdAndNamePrefix)propertytr_characteristic_select',
                                                '@(Model.ElementIdAndNamePrefix)propertytr_characteristic_select-@i')"
                                            ondblclick="togglePropertyCharacteristicAndSelect(
                                                @Model.ProductIndex,
                                                '@(Model.ElementIdAndNamePrefix)propertytr_characteristic_label-@i',
                                                '@(Model.ElementIdAndNamePrefix)propertytr_characteristic_select-@i',
                                                '@(Model.ElementIdAndNamePrefix)propertytr_characteristic_select',
                                                '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_CharacteristicId_Data_label__hidden-@i')"
                                            style="display: none;">
                                        </select>
                                    </td>

                                    <td class="property-value-td property-td-alignedOnTop">
                                        <div id="@(Model.ElementIdAndNamePrefix)productPropertyDisplay_AutoExpandTextareaWrapper_div-@i"
                                             class="full-parent-width full-parent-height">
                                            <div id="@(Model.ElementIdAndNamePrefix)productPropertyDisplay_Value_div-@i"
                                                name="@(Model.ElementIdAndNamePrefix)productPropertyDisplay_Value_div"
                                                class="element-collection-dataItem full-parent-width full-parent-height property-value-div @(siteUrlPropertyClass)"
                                                contenteditable="true" spellcheck="false"
                                                data-val="true" data-val-required="Property is required"
                                                data-val-maxlength="Property cannot exceed 200 characters" data-val-maxlength-max="200"
                                                oninput="addValidationForPropertyValue('@(Model.ElementIdAndNamePrefix)productPropertyDisplay_Value_div-@i',
                                                '@Model.ValidationFormId',
                                                '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_Value_div-@i-validation')"
                                                onclick="productPropertyDisplay_value_div_onclick(event,
                                                    '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_XmlPlacement_checkbox-@i',
                                                    '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_Value_div-@i')"
                                                onfocusout="updatePropertyInTable(
                                                    @Model.ProductIndex,
                                                    '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_CharacteristicId_Data_label__hidden-@i',
                                                    '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_Value_div-@i',
                                                    '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_XmlPlacement_checkbox-@i',
                                                    '@(Model.ElementIdAndNamePrefix)propertytr_characteristic_select-@i')">
                                                @productProperty.Value
                                            </div>
                                        </div>

                                        <span id="@(Model.ElementIdAndNamePrefix)productPropertyDisplay_Value_div-@i-validation"
                                            class="text-danger"
                                            data-valmsg-replace="true"></span>
                                    </td>

                                    <td class="property-td-alignedOnTop property-xmlPlacement-td">
                                        <input id="@(Model.ElementIdAndNamePrefix)productPropertyDisplay_XmlPlacement_checkbox-@i"
                                            name="@(Model.ElementIdAndNamePrefix)productPropertyDisplay_XmlPlacement_checkbox"
                                            type="checkbox"
                                            class="product-xmlPlacement-checkbox"
                                            onchange="productPropertyDisplay_XmlPlacement_checkbox_onchange(
                                                '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_XmlPlacement_checkbox-@i',
                                                '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_Value_div-@i')" />
                                    </td>

                                    <td class="property-td-alignedOnTop property-delete-button-td">
                                        <button id="@(Model.ElementIdAndNamePrefix)productPropertyDisplay_Delete_button-@i"
                                            name="@(Model.ElementIdAndNamePrefix)productPropertyDisplay_Delete_button"
                                            class="btn btn-danger btn-close"
                                            onclick="deletePropertyInTableByLabelId(
                                                @Model.ProductIndex,
                                                '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_CharacteristicId_Data_label__hidden-@i',
                                                '@(Model.ElementIdAndNamePrefix)propertytr-@i',
                                                '@(Model.ElementIdAndNamePrefix)propertyDisplay_table_tbody',
                                                '@(Model.ElementIdAndNamePrefix)propertytr_characteristic_select-@i',
                                                '@(Model.ElementIdAndNamePrefix)propertytr_characteristic_select',
                                                false)">
                                        </button>
                                    </td>

                                    <td class="property-td-alignedOnTop property-characterisricId-td">
                                        <label id="@(Model.ElementIdAndNamePrefix)productPropertyDisplay_CharacteristicId_Data_label__hidden-@i"
                                            name="@(Model.ElementIdAndNamePrefix)productPropertyDisplay_CharacteristicId_Data_label__hidden"
                                            class="property-characterisricId-label">@productProperty.ProductCharacteristicId</label>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                
                <button class="product-full-editor-property-add-button btn btn-primary full-parent-width"
                    onclick="addPropertyToTable(
                        @Model.ProductIndex,
                        '@(Model.ElementIdAndNamePrefix)propertyDisplay_table_tbody',
                        '@(Model.ElementIdAndNamePrefix)propertytr',
                        '@(Model.ElementIdAndNamePrefix)',
                        '@(Model.ElementIdAndNamePrefix)productPropertyDisplay_CharacteristicId_Data_label__hidden',
                        '@(Model.ElementIdAndNamePrefix)propertytr_characteristic_select',
                        '@(Model.ValidationFormId)')">
                    Add
                </button>

            </div>
        }
    }
    
    <input id="@(Model.ElementIdAndNamePrefix)_productIdDisplay"
        type="hidden"
        value="@Model.Product.Id" />
</div>