@{
	string imageTitle = Image.Title ?? Image.ImageUrl;
}

<li id="promotionEditImageListItem-@Image.Index" name="promotionEditImageListItem" class="promotion-edit-image-list-item">

	<div class="promotion-edit-image-delete-button-container">

		<button id="promotionEditImageDeleteButton-@Image.Index"
			name="promotionEditImageDeleteButton"
			type="button"
			class="btn-close promotion-edit-image-delete-button"
			aria-label="Delete" />
	</div>
			@* onclick="removePromotionImage('promotion-edit-image-list-item-@Image.Index', '@Image.ImageUrl')" *@

	<img id="promotionEditImage-@Image.Index"
		name="promotionEditImage"
		class="promotion-edit-image"
		src="@Image.ImageUrl"
		aria-label="@imageTitle"
		title="@imageTitle"
		data-current-promotion-image-index="@Image.Index"
		data-current-promotion-image-id="@(Image.ImageId != null ? Image.ImageId : string.Empty)" />
</li>

@code {
	public sealed class GroupPromotionImageEditorData
	{
		public required int Index { get; set; }
		public int? ImageId { get; set; }
		public required string ImageUrl { get; set; }
		public string? Title { get; set; }
	}

	[Parameter, EditorRequired] public required GroupPromotionImageEditorData Image { get; set; }
}
