@using MOSTComputers.Models.Product.Models.Promotions.Groups

@using static MOSTComputers.UI.Web.Blazor.Components.PromotionGroups.GroupPromotionEditorImage
@using static MOSTComputers.UI.Web.Blazor.Utils.DataToTextConversion;

@{
	string? startDateTimeStartingValue = GetDateTimeAsStringForDateInput(PromotionData.StartDate);
	string? expirationDateTimeStartingValue = GetDateTimeAsStringForDateInput(PromotionData.ExpirationDate);
}

<div id="promotion-edit-panel" class="promotion-edit-panel"
	data-current-promotion-id="@(PromotionData.Id != null ? PromotionData.Id.ToString() : string.Empty)">

	<div class="promotion-groups-actions">
		<button id="save-promotion-button" class="promotion-groups-save-button" onclick="savePromotion()">

			<p class="promotion-groups-save-button-text">Save</p>

			<div class="round-loader-default promotion-groups-save-button-loader"></div>
		</button>

		@if (PromotionData.Id != null)
		{
			<p class="promotion-groups-id-label">ID: @PromotionData.Id</p>
		}
	</div>

	<div class="promotion-groups-edit-fields">

		<div class="promotion-groups-row">
			<label for="promotion-name" class="promotion-groups-input-label">Name</label>
			<input id="promotion-name" class="promotion-groups-input" value="@PromotionData.Name"/>
		</div>	

		<div class="promotion-groups-row multiple-fields">
			<div class="promotion-groups-row-item">
				<label for="promotion-start-date" class="promotion-groups-input-label">Start Date</label>
				<input type="date" id="promotion-start-date" class="promotion-groups-input" value="@startDateTimeStartingValue" />
			</div>
			<div class="promotion-groups-row-item">
				<label for="promotion-expiration-date" class="promotion-groups-input-label">Expiration Date</label>
				<input type="date" id="promotion-expiration-date" class="promotion-groups-input" value="@expirationDateTimeStartingValue" />
			</div>
		</div>
		
		<div class="promotion-groups-row multiple-fields">
			<div class="promotion-groups-row-item">
				<label for="promotion-display-order" class="promotion-groups-input-label">Display Order</label>
				<input type="number" id="promotion-display-order" class="promotion-groups-input" value="@PromotionData.DisplayOrder" />
			</div>

			<div class="promotion-groups-row-item">
				<label for="promotion-group" class="promotion-groups-input-label">Group</label>	

				<select id="promotion-group-editor-select" class="promotion-group-editor-select">

					@if (PromotionData.GroupId == null)
					{
						<option value="" selected disabled>Select a group</option>
					}
					else
					{
						<option value="" disabled>Select a group</option>
					}

					@foreach (PromotionGroup promotionGroup in AvailablePromotionGroups)
					{
						@if (PromotionData.GroupId == promotionGroup.Id)
						{
							<option value="@promotionGroup.Id" selected>@promotionGroup.Name</option>
						}
						else
						{
							<option value="@promotionGroup.Id">@promotionGroup.Name</option>
						}
					}
				</select>
			</div>
		</div>

		<div class="promotion-groups-row multiple-fields">
			<div class="promotion-groups-row-item center-content">
				<label for="promotion-disabled" class="promotion-groups-input-label">Disabled</label>

				@if (PromotionData.Disabled == true)
				{
					<input type="checkbox" id="promotion-disabled" class="promotion-groups-checkbox" checked />
				}
				else
				{
					<input type="checkbox" id="promotion-disabled" class="promotion-groups-checkbox" />
				}
			</div>

			<div class="promotion-groups-row-item center-content">
				<label for="promotion-restricted" class="promotion-groups-input-label">Restricted</label>

				@if (PromotionData.Restricted == true)
				{
					<input type="checkbox" id="promotion-restricted" class="promotion-groups-checkbox" checked />
				}
				else
				{
					<input type="checkbox" id="promotion-restricted" class="promotion-groups-checkbox" />
				}
			</div>
		</div>

		<div class="promotion-groups-row multiple-fields">
			<div class="promotion-groups-row-item center-content">
				<label for="promotion-member-default" class="promotion-groups-input-label">Member Of Default Group</label>

				@if (PromotionData.MemberOfDefaultGroup == true)
				{
					<input type="checkbox" id="promotion-member-default" class="promotion-groups-checkbox" checked />
				}
				else
				{
					<input type="checkbox" id="promotion-member-default" class="promotion-groups-checkbox" />
				}
			</div>

			<div class="promotion-groups-row-item center-content">
				<label for="promotion-default-priority" class="promotion-groups-input-label">Default Group Priority</label>
				<input type="number" id="promotion-default-priority" class="promotion-groups-input" value="@PromotionData.DefaultGroupPriority" />
			</div>
		</div>

		<div class="promotion-groups-row">
			<label for="promotion-images" class="promotion-groups-input-label">Promotion Images</label>
			<button type="button" class="promotion-groups-file-select-button" onclick="addNewImageToEditor()" aria-label="promotion-images-input">
				Add File
			</button>

			<input type="file" id="promotion-images-input" class="promotion-groups-file-input" accept="image/*" multiple />
		</div>

		<ul id="promotion-images-list" class="promotion-groups-image-list">

			@foreach (GroupPromotionImageEditorData image in PromotionData.Images)
			{
				<GroupPromotionEditorImage Image="image"></GroupPromotionEditorImage>
			}
		</ul>

		<div class="promotion-groups-row">
			<label for="promotion-html" class="promotion-groups-input-label">Html Content</label>
			<textarea id="promotion-html" class="promotion-groups-input" value="@PromotionData.HtmlContent" oninput='expandTextAreaToNeededHeight("promotion-html")'>
			</textarea>
		</div>
	</div>
</div>


@code {
	public sealed class GroupPromotionContentEditorData
	{
		public int? Id { get; init; }
		public string? Name { get; init; }
		public int? GroupId { get; init; }
		public string? HtmlContent { get; init; }
		public DateTime? StartDate { get; init; }
		public DateTime? ExpirationDate { get; init; }
		public int? DisplayOrder { get; init; }
		public DateTime? DateModified { get; init; }
		public bool? Disabled { get; init; }
		public bool? Restricted { get; init; }
		public bool? MemberOfDefaultGroup { get; init; }
		public int? DefaultGroupPriority { get; init; }

		public List<GroupPromotionImageEditorData> Images { get; set; } = new();
	}

	[Parameter, EditorRequired] public required GroupPromotionContentEditorData PromotionData { get; set; }
	[Parameter, EditorRequired] public required List<PromotionGroup> AvailablePromotionGroups { get; set; }
}
