@using static MOSTComputers.UI.Web.Blazor.Utils.DataToTextConversion;
@using static MOSTComputers.Utils.Files.ContentTypeUtils;

<Popup IsVisible="IsVisible" IsVisibleChanged="OnVisibleChanged" PopupMarginOptions="PopupMarginOptions">
    <HeaderContent>

        <div class="promotion-product-file-single-editor-header">

            <h5 class="popup-header-text header-name-text">Promotion Product File:</h5>

            @if (PromotionProductFileInfoData.Id is not null)
            {
                <h4 class="popup-header-text header-product-id-text">
                    PrCID: @PromotionProductFileInfoData.Id
                </h4>
            }

            <div class="header-modified-container">

                @if (PromotionProductFileInfoData.CreateUserName is not null)
                {
                    <p>
                        Created:
                        <span>@PromotionProductFileInfoData.CreateUserName</span>
                        <span class="header-modified-date-text">
                            (@PromotionProductFileInfoData.CreateDate)
                        </span>
                    </p>

                    <p class="ms-lg-2">
                        Last Update:
                        <span>@PromotionProductFileInfoData.LastUpdateUserName</span>
                        <span class="header-modified-date-text">
                            (@PromotionProductFileInfoData.LastUpdateDate)
                        </span>
                    </p>
                }
            </div>

            @if (ShouldDisplaySaveButton)
            {
                <div class="save-button-container">
                    <button class="btn btn-primary" @onclick='OnSaveButtonClicked'>
                        @SaveButtonText
                    </button>
                </div>
            }
        </div>
    </HeaderContent>

    <ChildContent>
        <div class="container promotion-product-file-single-editor-body">
            <div class="row body-inputs-container">
                <div class="col-12 col-md-6">

                    <div class="basic-input-container">
                        <label for="productPromotionFileSingleEditorActiveInput" class="basic-input-label">Active:</label>
                        <input id="productPromotionFileSingleEditorActiveInput" type="checkbox"
                            @bind="PromotionProductFileInfoData.Active" />
                    </div>

                    <div class="basic-input-container">
                        <label for="productPromotionFileSingleEditorValidFromInput" class="basic-input-label">From:</label>
                        <input id="productPromotionFileSingleEditorValidFromInput" type="date"
                            @bind="PromotionProductFileInfoData.ValidFrom" />
                    </div>

                    <div class="basic-input-container">
                        <label for="productPromotionFileSingleEditorValidToInput" class="basic-input-label">To:</label>
                        <input id="productPromotionFileSingleEditorValidToInput" type="date"
                            @bind="PromotionProductFileInfoData.ValidTo" />
                    </div>

                    <div class="basic-input-container">
                        <label for="productPromotionFileSingleEditorShouldAddToImagesInput" class="basic-input-label">Add to images:</label>

                        @if (_canAddToImages)
                        {
                            <input id="productPromotionFileSingleEditorShouldAddToImagesInput" type="checkbox"
                                @bind="PromotionProductFileInfoData.ShouldAddToImages" />
                        }
                        else
                        {
                            <input id="productPromotionFileSingleEditorShouldAddToImagesInput" type="checkbox" disabled />
                        }
                    </div>
                </div>

                <div class="col-12 col-md-6 file-select-container">
                    <div class="file-search-container">
                        <label for="promotionProductFilesValidOnInput" class="file-search-active-on-label">Active on:</label>
                        <input id="promotionProductFilesValidOnInput" type="date" class="file-search-active-on-input" placeholder="Date"
                            @bind="_validOnPromotionFileSearchDate"/>

                        <input id="promotionProductFilesSearchInput" type="text" class="file-search-text-input"
                            placeholder="Search..." @bind="_promotionFileSearchString"
                            aria-label="Search"/>

                        <div class="file-search-button-container">

                            <button id="promotionProductFilesSearchButton" type="button" class="btn btn-info"
                                @onclick='SearchPromotionFiles'>
                                Search
                            </button>
                        </div>
                    </div>

                    <div id="promotionProductFilesPromotionFilesContainer" class="file-search-list-container">

                        <PromotionFileList PromotionFiles="_searchedPromotionFiles"
                            ItemSelectionMode="PromotionFileList.SelectionMode.Single"
                            SelectionChanged="OnPromotionFileListSelectionChanged" />
                    </div>
                </div>
            </div>
        </div>
    </ChildContent>
</Popup>

@code {
    public sealed class PromotionProductFileInfoEditData
    {
        public int? Id { get; set; }
        public required int ProductId { get; set; }
        public DateTime? ValidFrom { get; set; }
        public DateTime? ValidTo { get; set; }
        public bool Active { get; set; } = false;
        public int? ProductImageId { get; set; }
        public string? CreateUserName { get; set; }
        public DateTime? CreateDate { get; set; }
        public string? LastUpdateUserName { get; set; }
        public DateTime? LastUpdateDate { get; set; }
        public PromotionFileList.PromotionFileInfoListItem? PromotionFileInfo { get; set; }
        public bool ShouldAddToImages { get; set; } = true;
    }

    [Parameter] public Popup.MarginOptions PopupMarginOptions { get; set; } = new();

    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }

    private void OnVisibleChanged(bool isVisible)
    {
        IsVisible = isVisible;

        IsVisibleChanged.InvokeAsync(isVisible);
    }

    [Parameter] public required PromotionProductFileInfoEditData PromotionProductFileInfoData { get; set; }
    [Parameter] public List<PromotionFileList.PromotionFileInfoListItem> PossiblePromotionFiles { get; set; } = new();

    [Parameter] public bool ShouldAddToImagesDefaultValue { get; set; } = false;

    [Parameter] public bool ShouldDisplaySaveButton { get; set; } = true;
    [Parameter] public string SaveButtonText { get; set; } = "Save";
    [Parameter] public EventCallback<PromotionProductFileInfoEditData> SaveButtonClicked { get; set; }

    private List<PromotionFileList.PromotionFileInfoListItem> _searchedPromotionFiles { get; set; } = new();

    private bool _canAddToImages;

    private DateOnly? _validOnPromotionFileSearchDate { get; set; }
    private string? _promotionFileSearchString { get; set; }

    private void OnPromotionFileListSelectionChanged(IReadOnlyList<PromotionFileList.PromotionFileInfoListItem> selectedItems)
    {
        if (selectedItems.Count <= 0)
        {
            PromotionProductFileInfoData.PromotionFileInfo = null;
        }
        else
        {
            PromotionProductFileInfoData.PromotionFileInfo = selectedItems[0];
        }

        SetShouldAddToImagesDefaultValues();
    }

    private void OnSaveButtonClicked()
    {
        SaveButtonClicked.InvokeAsync(PromotionProductFileInfoData);
    }

    protected override void OnInitialized()
    {
        SearchPromotionFiles();

        SetShouldAddToImagesDefaultValues();
    }

    protected override void OnParametersSet()
    {
        SearchPromotionFiles();

        SetShouldAddToImagesDefaultValues();
    }

    private void SearchPromotionFiles()
    {
        _searchedPromotionFiles = GetSearchedPromotionFileData(
            PossiblePromotionFiles, _promotionFileSearchString, _validOnPromotionFileSearchDate);
    }

    private static List<PromotionFileList.PromotionFileInfoListItem> GetSearchedPromotionFileData(
        List<PromotionFileList.PromotionFileInfoListItem> allPromotionFileInfos,
        string? userInputString,
        DateOnly? validOnDate)
    {
        List<PromotionFileList.PromotionFileInfoListItem> output = new();

        userInputString = userInputString?.Trim();

        bool parseUserInputSuccess = int.TryParse(userInputString, out int searchedId);

        foreach (PromotionFileList.PromotionFileInfoListItem promotionFileInfo in allPromotionFileInfos)
        {
            if (validOnDate is not null)
            {
                if (promotionFileInfo.ValidFrom is not null
                    && validOnDate < DateOnly.FromDateTime(promotionFileInfo.ValidFrom.Value))
                {
                    continue;
                }

                if (promotionFileInfo.ValidTo is not null
                    && validOnDate > DateOnly.FromDateTime(promotionFileInfo.ValidTo.Value))
                {
                    continue;
                }
            }

            if (string.IsNullOrWhiteSpace(userInputString))
            {
                output.Add(promotionFileInfo);

                continue;
            }

            if (promotionFileInfo.Name is not null
                && promotionFileInfo.Name.Contains(userInputString))
            {
                output.Add(promotionFileInfo);

                continue;
            }

            if (promotionFileInfo.FileName is not null
                && promotionFileInfo.FileName.Contains(userInputString))
            {
                output.Add(promotionFileInfo);

                continue;
            }

            if (parseUserInputSuccess && promotionFileInfo.Id == searchedId)
            {
                output.Add(promotionFileInfo);
            }
        }

        return output;
    }

    private void SetShouldAddToImagesDefaultValues()
    {
        if (PromotionProductFileInfoData.PromotionFileInfo is null)
        {
            _canAddToImages = false;
            PromotionProductFileInfoData.ShouldAddToImages = false;

            return;
        }

        string? newPromotionFileContentType = GetContentTypeFromExtension(PromotionProductFileInfoData.PromotionFileInfo.FileName);

        if (!IsImageContentType(newPromotionFileContentType))
        {
            _canAddToImages = false;
            PromotionProductFileInfoData.ShouldAddToImages = false;

            return;
        }

        if (!_canAddToImages)
        {
            PromotionProductFileInfoData.ShouldAddToImages = ShouldAddToImagesDefaultValue;
        }

        _canAddToImages = true;
    }
}