@page
@using MOSTComputers.Models.Product.Models;
@model MOSTComputers.UI.Web.Pages.CreatePages.ProductCreateModel
@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/ProductInsert.css" asp-append-version="true" />
}

<div class="container">
    <div class="element-collection">

        <label class="element-collection-label">Product ID</label>

        <div class="element-collection-dataItem">
            <input id="Id_TextBox" class="full-parent-width" value="@Model.Id" />
        </div>
    </div>

    <div class="element-collection">

        <label class="element-collection-label">Search String</label>

        <div class="element-collection-dataItem">
            <input id="Name_TextBox" class="full-parent-width" value="@Model.Name" />
        </div>
    </div>

    <div class="element-collection">

        <label class="element-collection-label">AddWrr</label>

        <div class="element-collection-dataItem">
            <input id="AdditionalWarrantyPrice_TextBox" class="full-parent-width" value="@Model.AdditionalWarrantyPrice" />
        </div>
    </div>

    <div class="element-collection">

        <label class="element-collection-label">AddWrrTerm</label>

        <div class="element-collection-dataItem">
            <input id="AdditionalWarrantyTermMonths_TextBox" class="full-parent-width" value="@Model.AdditionalWarrantyTermMonths" />
        </div>
    </div>

    <div class="element-collection">

        <label class="element-collection-label">AddWrrDef</label>

        <div class="element-collection-dataItem">
            <input id="StandardWarrantyPrice_TextBox" class="full-parent-width" value="@Model.StandardWarrantyPrice" />
        </div>
    </div>

    <div class="element-collection">

        <label class="element-collection-label">DefWrrTerm</label>

        <div class="element-collection-dataItem">
            <input id="StandardWarrantyTermMonths_TextBox" class="full-parent-width" value="@Model.StandardWarrantyTermMonths" />
        </div>
    </div>

    <div class="element-collection">

        <label class="element-collection-label">DisplayOrder</label>

        <div class="element-collection-dataItem">
            <input id="DisplayOrder_TextBox" class="full-parent-width" value="@Model.DisplayOrder" />
        </div>
    </div>

    <div class="element-collection">

        <label class="element-collection-label">Status</label>

        <div class="element-collection-dataItem">
            <select id="Status_select" class="full-parent-width" value="@Model.Status">
                <option value="@ProductStatusEnum.Unavailable">Unavailable</option>
                <option value="@ProductStatusEnum.Call">Call</option>
                <option value="@ProductStatusEnum.Available">Available</option>
            </select>
        </div>
    </div>

    <div class="element-collection">

        <label class="element-collection-label">PlShow</label>

        <div class="element-collection-dataItem">
            <input id="PlShow_TextBox" class="full-parent-width" value="@Model.PlShow" />
        </div>
    </div>

    <!-- <div class="element-collection">

        <label class="element-collection-label">Price1</label>

        <div class="element-collection-dataItem">
            <input id="Price1_TextBox" class="full-parent-width" value="@Model.Price1" />
        </div>
    </div> -->

    <div class="element-collection">

        <label class="element-collection-label">Price</label>

        <div class="element-collection-dataItem">
            <input id="Price_TextBox" class="full-parent-width" value="@Model.DisplayPrice" />
        </div>
    </div>

    <!-- <div class="element-collection">

        <label class="element-collection-label">Price3</label>

        <div class="element-collection-dataItem">
            <input id="Price3_TextBox" class="full-parent-width" value="@Model.Price3" />
        </div>
    </div> -->

    <div class="element-collection">

        <label class="element-collection-label">Currency</label>

        <div class="element-collection-dataItem">
            <select id="Currency_select" class="full-parent-width" value="@Model.Currency">
                <option value="@CurrencyEnum.BGN">lv.</option>
                <option value="@CurrencyEnum.USD">$</option>
                <option value="@CurrencyEnum.EUR">€</option>
            </select>
        </div>
    </div>

    <div class="element-collection">

        <label class="element-collection-label">PromPid</label>

        <div class="element-collection-dataItem">
            <input id="Promotionid_TextBox" class="full-parent-width" value="@Model.Promotionid" />
        </div>
    </div>

    <div class="element-collection">

        <label class="element-collection-label">PromRid</label>

        <div class="element-collection-dataItem">
            <input id="PromRid_TextBox" class="full-parent-width" value="@Model.PromRid" />
        </div>
    </div>

    <div class="element-collection">

        <label class="element-collection-label">PromPictureId</label>

        <div class="element-collection-dataItem">
            <input id="PromotionPictureId_TextBox" class="full-parent-width" value="@Model.PromotionPictureId" />
        </div>
    </div>

    <div class="element-collection">

        <label class="element-collection-label">PromExpDate</label>

        <div class="element-collection-dataItem">
            <input id="PromotionExpireDate_TextBox" class="full-parent-width" value="@Model.PromotionExpireDate" />
        </div>
    </div>

    <div class="element-collection">

        <label class="element-collection-label">PriceListDescription</label>

        <div class="element-collection-dataItem">
            <input id="PriceListDescription_TextBox" class="full-parent-width" value="@Model.PriceListDescription" />
        </div>
    </div>

    <div class="element-collection">

        <label class="element-collection-label">SplModel1</label>

        <div class="element-collection-dataItem">
            <input id="PartNumber1_TextBox" class="full-parent-width" value="@Model.PartNumber1" />
        </div>
    </div>

    <div class="element-collection">

        <label class="element-collection-label">SplModel2</label>

        <div class="element-collection-dataItem">
            <input id="PartNumber2_TextBox" class="full-parent-width" value="@Model.PartNumber2" />
        </div>
    </div>

    <div class="element-collection">

        <label class="element-collection-label">SplModel3</label>

        <div class="element-collection-dataItem">
            <input id="SearchString_TextBox" class="full-parent-width" value="@Model.SearchString" />
        </div>
    </div>

    <div class="element-collection">

        <label class="element-collection-label">Manifacturer</label>

        <div class="element-collection-dataItem">
            <select id="Manifacturer_select" class="full-parent-width" asp-items="@Model.ManifacturerSelectItems" onselect="@Model.ManifacturerSelectItems"></select>
        </div>
    </div>

    <div class="element-collection">

        <label class="element-collection-label">Category</label>

        <div class="element-collection-dataItem">
            <select id="Category_select" class="full-parent-width" asp-items="@Model.CategorySelectItems" onchange="ProductCharacteristic_select_onselect(this.value)"></select>
        </div>
    </div>

    <div class="element-collection">

        <label class="element-collection-label">Properties</label>

        <div class="element-collection-dataItem">
            <table class="full-parent-width" style="list-style-type:none;margin-block-start: 0px;padding-left: 4px;justify-content: space-between;display: flex;">
                <tbody class="full-parent-width">

                @if (Model.Properties is not null)
                {
                    @for (int i = 0; i < Model.Properties.Count; i++)
                    {
                        var item = Model.Properties[i];
                        var itemCharacteristicData = Model.ProductCharacteristicsForGivenCategory[i];
                    

                        <tr class="full-parent-width">
                            <td style="width:20%">
                                <label>@itemCharacteristicData.Text</label>
                            </td>
                            <td style="width:10%">
                            </td>
                            <td style="width:70%">
                                <input class="full-parent-width" value="@item.Value"/>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>

    <div class="element-collection">
        <label class="element-collection-label" runat="server" Text="Images"></label>

        <div class="element-collection-dataItem" style="display:grid">
            <textarea id="txtPaste" placeholder="Paste Image Here" style="height: 100px;"></textarea>

            <div id="shop-item-image-container">
            </div>
        </div>

    </div>

    <script>
        function ProductCharacteristic_select_onselect(value) {
            $.getJSON(`/CreatePages/ProductCreate?handler=ProductCharacteristicsForGivenCategory_Initialize&categoryId=` + value,
                function (data) {
                    
                });
        }
    </script>

    <script type="text/javascript">

        window.onload = function () {
            document.getElementById('txtPaste').onkeydown = function (e) {

                return false;
            }
        };

        document.getElementById('txtPaste').onpaste = function (event) {
            var items = (event.clipboardData || event.originalEvent.clipboardData).items;
            var blob = null;

            for (var i = 0; i < items.length; i++) {
                if (items[i].type.indexOf("image") === 0) {
                    blob = items[i].getAsFile();
                }
            }
            if (blob !== null) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    let img = document.createElement('img');
                    img.src = event.target.result;
                    img.width = 300;
                    img.className = "shop-item-image";

                    let hiddenImageText = document.createElement('input');
                    hiddenImageText.hidden = true;
                    hiddenImageText.name = "ImageData";
                    hiddenImageText.value = event.target.result;

                    document.getElementById("shop-item-image-container").appendChild(img);
                    document.getElementById("shop-item-image-container").appendChild(hiddenImageText);
                };

                reader.readAsDataURL(blob);
            }
        };

    </script>
</div>