@using MOSTComputers.Models.Product.Models;
@using MOSTComputers.Models.Product.Models.Promotions

<div class="promotion-on-one-line">
    <p class="promotion-text">PID:</p>

    <p class="promotion-text">@(Promotion.Id.ToString())</p>

    @if (Promotion.DiscountEUR > 0)
    {
        <p class="promotion-text">Discount: @(Promotion.DiscountEUR ?? 0M)€</p>
    }

    @if (Promotion.DiscountUSD > 0)
    {
        <p class="promotion-text">Discount: @(Promotion.DiscountUSD ?? 0M)$</p>
    }

    <p class="promotion-text">Name: @(Promotion.Name ?? "-")</p>

    <p class="promotion-text">Type: @(Promotion.Type?.ToString() ?? "-")</p>

    <p class="promotion-text">Start Date: @(Promotion.StartDate?.ToString("dd/MMM/yyyy") ?? "-")</p>
    <p class="promotion-text">Expire Date: @(Promotion.ExpirationDate?.ToString("dd/MMM/yyyy") ?? "-")</p>

    @if (Promotion.MinimumQuantity > 0)
    {
        <p class="promotion-text">Min Qty: @(Promotion.MinimumQuantity ?? 0)</p>
    }

    @if (Promotion.MaximumQuantity > 0)
    {
        <p class="promotion-text">Max Qty: @(Promotion.MaximumQuantity ?? 0)</p>
    }

    @if (Promotion.ExpQuantity > 0)
    {
        <p class="promotion-text">Expire Qty: @(Promotion.ExpQuantity ?? 0)</p>
    }

    @if (Promotion.RequiredProductIds?.Count > 0)
    {
        <p class="promotion-text">With:</p>

        <ul class="promotion-required-product-ids-list">
            @foreach (int requiredProductId in Promotion.RequiredProductIds)
            {
                <li class="promotion-required-product-id-list-item">
                    <p class="promotion-required-product-id-text">@requiredProductId</p>
                </li>
            }
        </ul>
    }
</div>

@code {
    [Parameter] public required Promotion Promotion { get; set; }
}