@page "{ProductId}"
@using MOSTComputers.Models.Product.Models;
@using MOSTComputers.Services.SearchStringOrigin.Models;
@using MOSTComputers.UI.Web.Mapping;
@using MOSTComputers.UI.Web.Models;
@using MOSTComputers.UI.Web.StaticUtilities;

@model MOSTComputers.UI.Web.Pages.ProductPropertiesEditorModel
@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/Pages/Shared/ProductDisplayPopupsCommon.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/Shared/ProductDisplayXmlPopup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/Shared/ProductDisplayImagesPopup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/Shared/ProductSearchStringPopup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/NotificationBox.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CustomTextSelection.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/Pages/ProductAndPropertyDisplayCommon.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages/ProductPropertiesEditor.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/TextSelection.js"></script>
    <script src="~/js/TextHighlight.js"></script>
    <script src="~/js/Pages/Shared/ProductXmlPopupControl.js"></script>
    <script src="~/js/Pages/Shared/ProductImagesPopupControl.js"></script>
    <script src="~/js/Pages/Shared/ProductSearchStringPopupControl.js"></script>
    <script src="~/js/NotificationBox.js"></script>
    <script src="~/js/StringManipulation/DecodeFromHtml.js"></script>
    <script src="~/js/Pages/ProductAndPropertyDisplayCommon.js"></script>
    <script src="~/js/Pages/ProductPropertiesEditor.js"></script>
}

<table id="propertyDisplayMainContainer_table" class="full-parent-width">
    <tr>
        <td>
            <h4 class="modal-title modal-product-name-xml-modal">@Model.Product.Name</h4>
        </td>
        <td>
            <h4 id="modal-title_productIdShow" class="modal-title modal-product-name-xml-modal product-properties-editor-product-id-label">ID: @Model.Product.Id</h4>
        </td>

        <td id="propertyDisplayMainContainer_table_spaceBetween_td">
        </td>

        <td>
            <ul class="full-parent-width buttons-for-popups-list">
                <li class="button-for-popup-li">
                    <button class="btn full-parent-height" onclick="showImagePopupData(@Model.ProductId)">
                        <img src="~/img/show_Images_ProductDisplay_icon.png" alt="Images"
                             class="imagePopupButton_imagePopupButtonImage"/>
                    </button>
                </li>
                <li id="propertyDisplayMainContainer_table_xmlPopupButton_li" class="button-for-popup-li">
                    <button class="btn btn-secondary full-parent-height" onclick="showXmlPopupData(@Model.ProductId)">View XML</button>
                </li>
            </ul>
        </td>
    </tr>

    <tr>
        @{
            var searchStringParts = Model.GetSearchStringPartsAndDataAboutTheirOrigin();
        }

        @if (searchStringParts is not null)
        {
            <td colspan="5">
                
                <ul id="searchStringPartAndOriginPopupDisplay_ul">

                    @{int i = 0;}

                    @foreach (Tuple<string, List<SearchStringPartOriginData>?> kvp in searchStringParts)
                    {
                        string searchStringPart = kvp.Item1;

                        <li>
                            <table onmouseleave="removeSearchStringOriginDataSmallPopup(@i, '@JsEscapeStringUtils.JavascriptEncode(searchStringPart)')">
                                <tr>
                                    <td id="searchStringPart_h2#@i" name="searchStringPart_h2"
                                        class="searchStringPart_h2"
                                        onmouseover="showSearchStringOriginDataSmallPopup(@i, '@searchStringPart')"
                                        onclick="displayPopupAndTransportToSearchStringOriginDisplay(@Model.ProductId, @i)">

                                        <h7 class="productSearchString-popup-searchStringPart-label">@searchStringPart</h7>
                                    </td>
                                </tr>

                                <tr>
                                    <td id="searchStringPartOrigin_li#@i" name="searchStringPartOrigin_li"
                                        class="searchStringPartOrigin_li" style="visibility: hidden;">

                                        @if (kvp.Item2?.Count == 1)
                                        {
                                            SearchStringPartOriginData searchStringPartOriginData = kvp.Item2[0];

                                            <ul class="searchStringPartAndOriginPopupDisplay_ul_singleItemDisplayContainer_ul">
                                                <li class="searchStringPartOrigin_li_copyButtonContainer">
                                                    <button class="searchStringPartOrigin_li_copyButton" onclick="copySearchStringPartToClipboard('@searchStringPart')">
                                                        +
                                                    </button>
                                                    
                                                </li>
                                                <li id="searchStringPartOrigin_searchStringPartDisplay#@i" name="searchStringPartOrigin_searchStringPartDisplay"
                                                    class="searchStringPartOrigin_searchStringPartDisplay_forSingleItem">
                                                    <h4 class="searchStringPartOrigin_searchStringPartDisplay_searchStringPart_h4">@searchStringPart</h4>
                                                </li>
                                                <li class="searchStringPartOrigin_searchStringPartDisplay_li">
                                                    <h6 class="searchStringPartOrigin_searchStringPartDisplay_forSingleItem_displayId_h4">
                                                        ID: @searchStringPartOriginData.Characteristic.Id
                                                    </h6>
                                                </li>
                                            </ul>

                                            <h5>@searchStringPartOriginData.Characteristic.Meaning</h5>
                                        }
                                        else if (kvp.Item2?.Count > 1)
                                        {
                                            <ul class="searchStringPartOrigin_li_multipleOriginsDisplay_container_li">
                                                <li class="searchStringPartOrigin_li_copyButtonContainer">
                                                    <button class="searchStringPartOrigin_li_copyButton" onclick="copySearchStringPartToClipboard('@searchStringPart')">
                                                        +
                                                    </button>
                                                </li>

                                                <li id="searchStringPartOrigin_searchStringPartDisplay#@i" name="searchStringPartOrigin_searchStringPartDisplay"
                                                    class="searchStringPartOrigin_searchStringPartDisplay_li">
                                                    <h4 class="searchStringPartOrigin_searchStringPartDisplay_searchStringPart_h4">@searchStringPart</h4>
                                                </li>

                                                <li class="searchStringPartOrigin_searchStringPartDisplay_li">
                                                    <p class="searchStringPartOrigin_li_multipleOriginsDisplay_possibilitiesDisplay">@kvp.Item2.Count possibilities</p>

                                                    <ul id="searchStringPartOrigin_multipleOriginsDisplayList#@i"
                                                        class="searchStringPartOrigin_multipleOriginsDisplayList">

                                                        @for (int j = 0; j < kvp.Item2.Count; j++)
                                                        {
                                                            SearchStringPartOriginData searchStringPartOriginData = kvp.Item2[j];

                                                            <li class="searchStringPartOrigin_multipleOriginsDisplayList_li">

                                                                <ul class="searchStringPartOrigin_multipleOriginsDisplayList_topItems_li">
                                                                    <li class="searchStringPartOrigin_searchStringPartDisplay_li">
                                                                        <h4 name="searchStringPartOrigin_multipleOriginsDisplayList_nameLabel#@i"
                                                                            class="searchStringPartOrigin_multipleOriginsDisplayList_nameLabel">
                                                                            @searchStringPartOriginData.Characteristic.Name
                                                                        </h4>
                                                                    </li>
                                                                    <li class="searchStringPartOrigin_searchStringPartDisplay_li">
                                                                        <h6 class="searchStringPartOrigin_searchStringPartDisplay_multipleOriginsDisplay_displayId_h6">
                                                                            ID: @searchStringPartOriginData.Characteristic.Id
                                                                        </h6>
                                                                    </li>
                                                                </ul>

                                                                <h5 name="searchStringPartOrigin_multipleOriginsDisplayList_meaningLabel#@i">@searchStringPartOriginData.Characteristic.Meaning</h5>
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            </ul>
                                        }
                                        else
                                        {
                                            <h4 id="searchStringPartOrigin_searchStringPartDisplay#@i" name="searchStringPartOrigin_searchStringPartDisplay"
                                                class="searchStringPartOrigin_searchStringPartDisplay_noItemsDisplay_searchStringPartDisplay_h4">
                                                @searchStringPart
                                            </h4>
                                            <h4>No information could be found.</h4>
                                        }
                                    </td>
                                </tr>
                            </table>
                        </li>

                        i++;
                    }
                </ul>
            </td>
        }

    </tr>
</table>

<table id="propertyDisplay_table" class="full-parent-width">

    <tbody id="propertyDisplay_table_tbody">
        @for (int i = 0; i < Model.ProductProperties.Count; i++)
        {
            ProductProperty productProperty = Model.ProductProperties[i];

            if (productProperty.ProductCharacteristicId is null
                || productProperty.ProductCharacteristicId == 0)
            {
                <tr id="propertytr#@i">
                    <td class="property-td-alignedOnTop propertyWithoutCharacteristicId-characteristic-select-td">
                        <select asp-items="Model.GetRemainingCharacteristics()"></select>
                    </td>

                    <td class="property-value-td">
                        <div id="productPropertyDisplay_AutoExpandTextareaWrapper_div#@i" class="full-parent-width full-parent-height">
                            <div id="productPropertyDisplay_Value_div#@i" name="productPropertyDisplay_Value_div"
                                class="element-collection-dataItem full-parent-width full-parent-height property-value-div"
                                contenteditable="true" spellcheck="false" onfocusout="updatePropertyInTable(@Model.ProductId, @i)">@productProperty.Value</div>
                        </div>
                    </td>

                    <td class="property-td-alignedOnTop property-characterisricId-td">
                        <label id="productPropertyDisplay_CharacteristicId_Data_label#@i" name="productPropertyDisplay_CharacteristicId_Data_label">ID: None</label>
                    </td>

                    <td class="property-td-alignedOnTop property-xmlPlacement-td">
                        <select id="productPropertyDisplay_XmlPlacement_select#@i" name="productPropertyDisplay_XmlPlacement_select" asp-items="@XmlPlacementEnumMapping.GetSelectListItemsFromXmlPlacementEnumWithOneSelected(productProperty.XmlPlacement)"></select>
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <p class="invalid-characteristic-name-text">The product characteristic "@productProperty.ProductCharacteristicId" does not exist, please select a characteristic from the ones above</p>
                    </td>
                </tr>
            }
            else
            {
                <tr id="propertytr#@i">
                    <td class="property-td-alignedOnTop property-characteristic-td">
                        <label>@productProperty.Characteristic</label>
                    </td>

                    <td class="property-value-td property-td-alignedOnTop">
                        <div id="productPropertyDisplay_AutoExpandTextareaWrapper_div#@i" class="full-parent-width full-parent-height">
                            <div id="productPropertyDisplay_Value_div#@i" name="productPropertyDisplay_Value_div"
                                class="element-collection-dataItem full-parent-width full-parent-height property-value-div"
                                contenteditable="true" spellcheck="false" onfocusout="updatePropertyInTable(@Model.ProductId, @i)">@productProperty.Value</div>
                        </div>
                    </td>

                    <td class="property-td-alignedOnTop property-characterisricId-td">
                        <label id="productPropertyDisplay_CharacteristicId_Data_label#@i" name="productPropertyDisplay_CharacteristicId_Data_label">ID: @productProperty.ProductCharacteristicId</label>
                    </td>

                    <td class="property-td-alignedOnTop property-xmlPlacement-td">
                        <select id="productPropertyDisplay_XmlPlacement_select#@i" name="productPropertyDisplay_XmlPlacement_select" asp-items="@XmlPlacementEnumMapping.GetSelectListItemsFromXmlPlacementEnumWithOneSelected(productProperty.XmlPlacement)"></select>
                    </td>

                    <td class="property-td-alignedOnTop property-delete-button-td">
                        <button id="productPropertyDisplay_Delete_button#@i" name="productPropertyDisplay_Delete_button"
                                class="btn btn-danger" onclick="deletePropertyInTable(@Model.ProductId, @productProperty.ProductCharacteristicId, @i, false)">
                            X
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<button class="btn btn-primary full-parent-width" onclick="addPropertyToTable(@Model.ProductId)">Add</button>

<div id="ProductXml_modal" class="modal fade" tabindex="-1" role="dialog">
    <div id="ProductXml-modal-dialog" class="modal-dialog modal-dialog-full-parent-width">
        <div id="ProductXml_popup_modal-content" class="modal-content full-parent-width full-parent-height modal-dialog-centered">
        </div>
    </div>
</div>

<div id="ProductImages_modal" class="modal fade" tabindex="-1" role="dialog">
    <div id="ProductImages-modal-dialog" class="modal-dialog modal-dialog-full-parent-width">
        <div id="ProductImages_popup_modal-content" class="modal-content full-parent-width full-parent-height modal-dialog-centered">
        </div>
    </div>
</div>

<div id="ProductSearchString_modal" class="modal fade" tabindex="-1" role="dialog">
    <div id="ProductSearchString-modal-dialog" class="modal-dialog modal-dialog-full-parent-width">
        <div id="ProductSearchString_popup_modal-content" class="modal-content full-parent-width full-parent-height modal-dialog-centered">
        </div>
    </div>
</div>

<ul id="copiedXmlNotificationBox" class="copied-xml-notification-box"></ul>

@Html.AntiForgeryToken()

<script>

    document.onkeydown = (e) =>
    {
        if (e.ctrlKey && e.key === 's')
        {
            let xmlTextArea = document.getElementById("Xml_textarea");

            if (xmlTextArea != null)
            {
                if (xmlTextArea.value != null)
                {
                    e.preventDefault();

                    copyXmlTextToClipboard();

                    return;
                }
            }

            let productImagesPopup = document.getElementById("ProductImages_popup");

            if (productImagesPopup === null) return;

            e.preventDefault();

            copyImageDataToClipboard();
        }
        else if (e.ctrlKey && e.key === 'a')
        {
            e.preventDefault();

            var productId = getProductId();

            getImageFileData(productId);
        }
    }

</script>