@using MOSTComputers.Models.Product.Models

@model IndexProductTableRowPartialModel

<tr id="@Model.HtmlElementId">
    <td>
        @Model.ProductDisplayData.Id
    </td>

    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_NameInput" type="text"
            asp-for="ProductDisplayData.Name" value="@Model.ProductDisplayData.Name"
               data-for-product-property="@nameof(Model.ProductDisplayData.Name)" placeholder="-" />
    </td>

    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_AdditionalWarrantyPriceInput" type="number"
            asp-for="ProductDisplayData.AdditionalWarrantyPrice" value="@Model.ProductDisplayData.AdditionalWarrantyPrice"
            data-for-product-property="@nameof(Model.ProductDisplayData.AdditionalWarrantyPrice)" placeholder="-" />
    </td>

    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_AdditionalWarrantyTermMonthsInput" type="number"
            asp-for="ProductDisplayData.AdditionalWarrantyTermMonths" value="@Model.ProductDisplayData.AdditionalWarrantyTermMonths"
            data-for-product-property="@nameof(Model.ProductDisplayData.AdditionalWarrantyTermMonths)" placeholder="-" />
    </td>
    
    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_StandardWarrantyPriceInput" type="number"
            asp-for="ProductDisplayData.StandardWarrantyPrice" value="@Model.ProductDisplayData.StandardWarrantyPrice"
            data-for-product-property="@nameof(Model.ProductDisplayData.StandardWarrantyPrice)" placeholder="-" />
    </td>

    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_StandardWarrantyTermMonthsInput" type="number"
            asp-for="ProductDisplayData.StandardWarrantyTermMonths" value="@Model.ProductDisplayData.StandardWarrantyTermMonths"
            data-for-product-property="@nameof(Model.ProductDisplayData.StandardWarrantyTermMonths)" placeholder="-" />
    </td>

    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_DisplayOrderInput" type="number"
            asp-for="ProductDisplayData.DisplayOrder" value="@Model.ProductDisplayData.DisplayOrder"
            data-for-product-property="@nameof(Model.ProductDisplayData.DisplayOrder)" placeholder="-" />
    </td>

    <td class="hide-on-button-press">
        <select id="@(Model.HtmlElementId)_StatusSelect" class="full-parent-width" asp-items="Model.StatusSelectListItems"  
            data-for-product-property="@nameof(Model.ProductDisplayData.Status)">
        </select>
    </td>

    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_PlShowInput" type="number"
            asp-for="ProductDisplayData.PlShow" value="@Model.ProductDisplayData.PlShow"
            data-for-product-property="@nameof(Model.ProductDisplayData.PlShow)" placeholder="-" />
    </td>

    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_Price1Input" type="number"
            asp-for="ProductDisplayData.Price1" value="@Model.ProductDisplayData.Price1"
            data-for-product-property="@nameof(Model.ProductDisplayData.Price1)" placeholder="-" />
    </td>

    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_DisplayPriceInput" type="number"
            asp-for="ProductDisplayData.DisplayPrice" value="@Model.ProductDisplayData.DisplayPrice"
            data-for-product-property="@nameof(Model.ProductDisplayData.DisplayPrice)" placeholder="-" />
    </td>

    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_Price3Input" type="number"
            asp-for="ProductDisplayData.Price3" value="@Model.ProductDisplayData.Price3"
            data-for-product-property="@nameof(Model.ProductDisplayData.Price3)" placeholder="-" />
    </td>

    <td class="hide-on-button-press">
        
        <select id="@(Model.HtmlElementId)_CurrencySelect" class="full-parent-width" asp-items="Model.CurrencySelectListItems"
            data-for-product-property="@nameof(Model.ProductDisplayData.Currency)">
        </select>
    </td>

    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_RowGuidInput" type="text"
            asp-for="ProductDisplayData.RowGuid" value="@Model.ProductDisplayData.RowGuid"
            data-for-product-property="@nameof(Model.ProductDisplayData.RowGuid)" placeholder="-" />
    </td>

    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_PromotionIdInput" type="number"
            asp-for="ProductDisplayData.PromotionId" value="@Model.ProductDisplayData.PromotionId"
            data-for-product-property="@nameof(Model.ProductDisplayData.PromotionId)" placeholder="-" />
    </td>

    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_PromRidInput" type="number"
            asp-for="ProductDisplayData.PromRid" value="@Model.ProductDisplayData.PromRid"
            data-for-product-property="@nameof(Model.ProductDisplayData.PromRid)" placeholder="-" />
    </td>

    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_PromotionPictureIdInput" type="number"
            asp-for="ProductDisplayData.PromotionPictureId" value="@Model.ProductDisplayData.PromotionPictureId"
            data-for-product-property="@nameof(Model.ProductDisplayData.PromotionPictureId)" placeholder="-" />
    </td>

    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_PromotionExpireDateInput" type="datetime"
            asp-for="ProductDisplayData.PromotionExpireDate" value="@Model.ProductDisplayData.PromotionExpireDate"
            data-for-product-property="@nameof(Model.ProductDisplayData.PromotionExpireDate)" placeholder="-" />
    </td>

    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_AlertPictureIdInput" type="number"
            asp-for="ProductDisplayData.AlertPictureId" value="@Model.ProductDisplayData.AlertPictureId"
            data-for-product-property="@nameof(Model.ProductDisplayData.AlertPictureId)" placeholder="-" />
    </td>

    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_AlertExpireDateInput" type="datetime"
            asp-for="ProductDisplayData.AlertExpireDate" value="@Model.ProductDisplayData.AlertExpireDate"
            data-for-product-property="@nameof(Model.ProductDisplayData.AlertExpireDate)" placeholder="-" />
    </td>

    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_PriceListDescriptionInput" type="text"
            asp-for="ProductDisplayData.PriceListDescription" value="@Model.ProductDisplayData.PriceListDescription"
            data-for-product-property="@nameof(Model.ProductDisplayData.PriceListDescription)" placeholder="-" />
    </td>

    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_PartNumber1Input" type="text"
            asp-for="ProductDisplayData.PartNumber1" value="@Model.ProductDisplayData.PartNumber1"
            data-for-product-property="@nameof(Model.ProductDisplayData.PartNumber1)" placeholder="-" />
    </td>

    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_PartNumber2Input" type="text"
            asp-for="ProductDisplayData.PartNumber2" value="@Model.ProductDisplayData.PartNumber2"
            data-for-product-property="@nameof(Model.ProductDisplayData.PartNumber2)" placeholder="-" />
    </td>

    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_SearchStringInput" type="text"
            asp-for="ProductDisplayData.SearchString" value="@Model.ProductDisplayData.SearchString"
            data-for-product-property="@nameof(Model.ProductDisplayData.SearchString)" placeholder="-" />
    </td>

    <td class="hide-on-button-press">
        <select id="@(Model.HtmlElementId)_CategorySelect" asp-items="Model.CategorySelectListItems" 
            data-for-product-property="@nameof(Model.ProductDisplayData.CategoryId)"></select>
    </td>

    <td class="hide-on-button-press">
        <select id="@(Model.HtmlElementId)_ManifacturerSelect" asp-items="Model.ManifacturerSelectListItems"
            data-for-product-property="@nameof(Model.ProductDisplayData.ManifacturerId)"></select>
    </td>

    <td class="hide-on-button-press">
        <input id="@(Model.HtmlElementId)_SubCategoryIdInput" type="number"
            asp-for="ProductDisplayData.SubCategoryId" value="@Model.ProductDisplayData.SubCategoryId"
            data-for-product-property="@nameof(Model.ProductDisplayData.SubCategoryId)" placeholder="-" />
    </td>

    <td>
        <button class="btn btn-secondary" onclick="showFirstImagePopupData(@Model.ProductDisplayData.Id)">
            Images
        </button>
    </td>

    <td>
        <button class="btn btn-secondary" onclick="showImagesPopupData(@Model.ProductDisplayData.Id)">
            Images All
        </button>
    </td>
    
    <td>
        <button class="btn btn-outline-primary"
            onclick="saveProductWithoutSavingImagesInDAL(@Model.ProductDisplayData.Id,
                'ProductChanges_modal_accept_button',
                ['@(Model.HtmlElementId)_NameInput',
                '@(Model.HtmlElementId)_AdditionalWarrantyPriceInput',
                '@(Model.HtmlElementId)_AdditionalWarrantyTermMonthsInput',
                '@(Model.HtmlElementId)_StandardWarrantyPriceInput',
                '@(Model.HtmlElementId)_StandardWarrantyTermMonthsInput',
                '@(Model.HtmlElementId)_DisplayOrderInput',
                '@(Model.HtmlElementId)_StatusSelect',
                '@(Model.HtmlElementId)_PlShowInput',
                '@(Model.HtmlElementId)_Price1Input',
                '@(Model.HtmlElementId)_DisplayPriceInput',
                '@(Model.HtmlElementId)_Price3Input',
                '@(Model.HtmlElementId)_CurrencySelect',
                '@(Model.HtmlElementId)_RowGuidInput',
                '@(Model.HtmlElementId)_PromotionIdInput',
                '@(Model.HtmlElementId)_PromRidInput',
                '@(Model.HtmlElementId)_PromotionPictureIdInput',
                '@(Model.HtmlElementId)_PromotionExpireDateInput',
                '@(Model.HtmlElementId)_AlertPictureIdInput',
                '@(Model.HtmlElementId)_AlertExpireDateInput',
                '@(Model.HtmlElementId)_PriceListDescriptionInput',
                '@(Model.HtmlElementId)_PartNumber1Input',
                '@(Model.HtmlElementId)_PartNumber2Input',
                '@(Model.HtmlElementId)_SearchStringInput',
                '@(Model.HtmlElementId)_CategorySelect',
                '@(Model.HtmlElementId)_ManifacturerSelect',
                '@(Model.HtmlElementId)_SubCategoryIdInput',
                '@(Model.HtmlElementId)_ProductNewStatusSelect',
                '@(Model.HtmlElementId)_ProductXmlStatusSelect',
                '@(Model.HtmlElementId)__hiddenProductStatusIdInput',
                '@(Model.HtmlElementId)__hiddenReadyForImageInsertInput'])">
            Save
        </button>
    </td>

    <td>
        <button class="btn btn-secondary" onclick="redirectToPropertiesEditor(@Model.ProductDisplayData.Id)">
            Properties
        </button>
    </td>

    <td>
        <select id="@(Model.HtmlElementId)_ProductNewStatusSelect" asp-items="Model.ProductNewStatusSelectListItems"
            onchange="updateProductNewStatus(@Model.ProductDisplayData.Id, this.value)"
            data-for-product-property="@nameof(Model.ProductDisplayData.ProductNewStatus)"></select>
    </td>

    <td>
        <select id="@(Model.HtmlElementId)_ProductXmlStatusSelect" asp-items="Model.ProductXmlStatusSelectListItems"
            onchange="updateProductXmlStatus(@Model.ProductDisplayData.Id, this.value)"
            data-for-product-property="@nameof(Model.ProductDisplayData.ProductXmlStatus)"></select>
    </td>

    <td>
        <button id="@(Model.HtmlElementId)_ReadyForImageInsertButton" class="btn btn-outline-success"
            onclick="toggleReadyForImageInsertStatus(@Model.ProductDisplayData.Id, '@(Model.HtmlElementId)__hiddenReadyForImageInsertInput')">
            Ready
        </button>
    </td>

    <td>
        <button id="@(Model.HtmlElementId)_SaveButton" class="btn btn-outline-primary"
            onclick="saveProduct(@Model.ProductDisplayData.Id,
                'ProductChanges_modal_accept_button',
                ['@(Model.HtmlElementId)_NameInput',
                '@(Model.HtmlElementId)_AdditionalWarrantyPriceInput',
                '@(Model.HtmlElementId)_AdditionalWarrantyTermMonthsInput',
                '@(Model.HtmlElementId)_StandardWarrantyPriceInput',
                '@(Model.HtmlElementId)_StandardWarrantyTermMonthsInput',
                '@(Model.HtmlElementId)_DisplayOrderInput',
                '@(Model.HtmlElementId)_StatusSelect',
                '@(Model.HtmlElementId)_PlShowInput',
                '@(Model.HtmlElementId)_Price1Input',
                '@(Model.HtmlElementId)_DisplayPriceInput',
                '@(Model.HtmlElementId)_Price3Input',
                '@(Model.HtmlElementId)_CurrencySelect',
                '@(Model.HtmlElementId)_RowGuidInput',
                '@(Model.HtmlElementId)_PromotionIdInput',
                '@(Model.HtmlElementId)_PromRidInput',
                '@(Model.HtmlElementId)_PromotionPictureIdInput',
                '@(Model.HtmlElementId)_PromotionExpireDateInput',
                '@(Model.HtmlElementId)_AlertPictureIdInput',
                '@(Model.HtmlElementId)_AlertExpireDateInput',
                '@(Model.HtmlElementId)_PriceListDescriptionInput',
                '@(Model.HtmlElementId)_PartNumber1Input',
                '@(Model.HtmlElementId)_PartNumber2Input',
                '@(Model.HtmlElementId)_SearchStringInput',
                '@(Model.HtmlElementId)_CategorySelect',
                '@(Model.HtmlElementId)_ManifacturerSelect',
                '@(Model.HtmlElementId)_SubCategoryIdInput',
                '@(Model.HtmlElementId)_ProductNewStatusSelect',
                '@(Model.HtmlElementId)_ProductXmlStatusSelect',
                '@(Model.HtmlElementId)__hiddenProductStatusIdInput',
                '@(Model.HtmlElementId)__hiddenReadyForImageInsertInput'])">
            Save
        </button>
    </td>

    <td>
        <button class="btn btn-danger" onclick="deleteProduct(@Model.ProductDisplayData.Id, '@Model.HtmlElementId')">X</button>
    </td>

</tr>

<input id="@(Model.HtmlElementId)__hiddenProductIdInput" type="number" value="@Model.ProductDisplayData.Id"
    style="display: none;" />

<input id="@(Model.HtmlElementId)__hiddenProductStatusIdInput" type="number" value="@Model.ProductDisplayData.ProductWorkStatusesId"
       style="display: none;" data-for-product-property="@nameof(Model.ProductDisplayData.ProductWorkStatusesId)" />

@{
    string? valueOfReadyForImageInsertInput = null;

    if (Model.ProductDisplayData.ReadyForImageInsert is not null)
    {
        valueOfReadyForImageInsertInput = Model.ProductDisplayData.ReadyForImageInsert.Value ? "1" : "0";
    }
}

<input id="@(Model.HtmlElementId)__hiddenReadyForImageInsertInput" type="number" value="@valueOfReadyForImageInsertInput"
    style="display: none;" data-for-product-property="@nameof(Model.ProductDisplayData.ReadyForImageInsert)" />