@using System.Collections.Generic;
@using MOSTComputers.Models.Product.Models;
@using MOSTComputers.UI.Web.RealWorkTesting.Pages.Shared.ProductPopups;

@model ProductImagesDisplayPopupPartialModel;

<div class="modal-header full-parent-width">
    <h5 class="modal-title modal-title">Images:</h5>

    <h4 class="modal-title modal-product-name">@Model.ProductData.Name</h4>
    <h4 id="modal_title_productIdShow" class="modal-title modal-product-name">ID: @Model.ProductData.Id</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="close_ProductImages_modal()">
    </button>
</div>
<div id="ProductImages_popup" class="modal-body full-parent-width bg-white">
    <div class="container border-2 full-parent-width full-parent-height">
        
        <ul id="productImageDisplay_ul"
            class="full-parent-width bg-white"
            onmousewheel="scrollHorizontally(event)"
            ondragover="productImageDisplay_ul_ondragover(event)">

            @if (Model.ProductData.ImagesAndImageFileInfos is not null
                && Model.ProductData.ImagesAndImageFileInfos.Count > 0)
            {
                string? firstModelHtmlData = Model.ProductData.ImagesAndImageFileInfos.First().Item1?.HtmlData;

                for (int i = 0; i < Model.ProductData.ImagesAndImageFileInfos.Count; i++)
                {
                    ProductImage? image = Model.ProductData.ImagesAndImageFileInfos[i].Item1;
                    ProductImageFileNameInfo? imageFileNameInfo = Model.ProductData.ImagesAndImageFileInfos[i].Item2;

                    if (image is null || image.ImageData is null) continue;

                    string imageSrc = $"data:{image.ImageFileExtension};base64,{Convert.ToBase64String(image.ImageData)}";

                    float opacityOfLi = (imageFileNameInfo?.Active ?? false) ? 1.0F : 0.35F;

                    string htmlDataButtonBackgroundColor = (firstModelHtmlData == image.HtmlData) ? "#FFFFFF" : "#F7B9B9";

                    <li id="productImageDisplay_ul_li-@i" draggable="true"
                        ondragstart="productImageDisplay_ul_li_ondragstart(event)"
                        ondragend="productImageDisplay_ul_li_ondragend(event)"
                        style="opacity: @opacityOfLi;">
                        
                        @if (imageFileNameInfo?.Active ?? false)
                        {
                            <div class="product-image-popup-image-active-button-container">
                                <input id="productImageDisplay_ul_li_activityStatusCheckbox-@i"
                                    type="checkbox" aria-label="Close" checked
                                    onchange="update_productImageDisplay_ul_li_activeState('productImageDisplay_ul_li-@i',
                                        'productImageDisplay_ul_li_activityStatusCheckbox-@i',
                                        @Model.ProductData.Id,
                                        @imageFileNameInfo.DisplayOrder,
                                        '@imageFileNameInfo.FileName')"
                                    class="product-image-popup-image-active-button" />
                            </div>
                        }
                        else
                        {
                            <div class="product-image-popup-image-active-button-container">
                                <input id="productImageDisplay_ul_li_activityStatusCheckbox-@i"
                                    type="checkbox" aria-label="Close"
                                    onchange="update_productImageDisplay_ul_li_activeState('productImageDisplay_ul_li-@i',
                                        'productImageDisplay_ul_li_activityStatusCheckbox-@i',
                                        @Model.ProductData.Id,
                                        @imageFileNameInfo?.DisplayOrder,
                                        '@imageFileNameInfo?.FileName')"
                                    class="product-image-popup-image-active-button" />
                            </div>
                        }

                        <button name="Image #@i" class="btn bg-white" >
                            <img src="@imageSrc" title="Image #@i" draggable="false" />
                        </button>

                        <div class="product-image-popup-image-delete-button-container">
                            <button type="button" class="btn-close product-image-popup-image-delete-button"
                                aria-label="Close" 
                                onclick="delete_productImageDisplay_ul_li(@Model.ProductData.Id, @i, 'productImageDisplay_ul_li-@i')" />
                        </div>

                        <div style="display: flex; justify-content: center; flex-direction: column;">

                            @if (image.DateModified is not null)
                            {
                                <label style="text-align: center;">
                                    @image.DateModified.Value.ToString("dd.MM.yyyy")
                                </label>
                            }
                            else
                            {
                                <label style="text-align: center;">
                                    No date provided
                                </label>
                            }

                            <button id="product-image-popup-image-view-html-button-@i"
                                style="background-color: @htmlDataButtonBackgroundColor;"
                                    onclick="displayImageHtmlData(
                                        'product-image-popup-view-html-display-div',
                                        '_hidden_product-image-popup-image-view-html_input-@i')">
                                View Html
                            </button>
                        </div>

                        <input id="_hidden_product-image-popup-image-view-html_input-@i" type="hidden" value='@image.HtmlData' />
                    </li>
                }
            }

            <li id="addButtonLi"
                class="product-image-popup-image-add-button-list-item">
                <input class="btn bg-white product-image-popup-image-add-input"
                    type="file" accept="image/*"
                    onchange="addNewImage(this)" />

                <label class="product-image-popup-image-add-label">+</label>
            </li>
        </ul>

        <div id="product-image-popup-view-html-display-div" class="full-parent-height">
            @Html.Raw(Model.ProductData.ImagesAndImageFileInfos?.FirstOrDefault()?.Item1?.HtmlData)
        </div>
    </div>
</div>

<div class="modal-footer full-parent-width product-image-popup-footer_buttons-container">
    <table id="ProductImages_modal_footer_buttons_table"
        class="full-parent-width full-parent-height">
        <tr class="full-parent-width full-parent-height">
            <td>
                <button id="copyImageButton"
                    class="full-parent-width footer-button btn btn-primary"
                    onclick="copyImageDataToClipboard()">
                    <h7 class="footer-button-main-text">Copy to clipboard</h7>
                    <p class="footer-button-small-text">(Or just press Ctrl + S)</p>
                </button>
            </td>
            
            <td>
                <button id="copyImageButton"
                    class="full-parent-width footer-button btn btn-primary"
                    onclick="getImageFileData(@Model.ProductData.Id)">
                    <h7 class="footer-button-main-text">Save</h7>
                    <p class="footer-button-small-text">(Or just press Ctrl + A)</p>
                </button>
            </td>
        </tr>
    </table>
</div>