@using MOSTComputers.Models.Product.MappingUtils
@using MOSTComputers.Models.Product.Models
@using MOSTComputers.UI.Web.RealWorkTesting.Pages.Shared.ProductPopups
@model MOSTComputers.UI.Web.RealWorkTesting.Pages.Shared.ProductPopups.ProductChangesPopupPartialModel
@{
    Layout = null;
}

<div class="modal-header full-parent-width">

    <ul class="product-changes-popup-header-list product-changes-popup-header-name-and-id-display-list">
        <li>
            <h5 class="modal-title modal-title">Product state:</h5>
        </li>

        <li>
            <h4 class="modal-title modal-product-name">@(Model.Product?.Name ?? "-")</h4>
        </li>

        <li>
            <h4 id="modal_title_productIdShow" class="modal-title modal-product-name">ID: @(Model.Product?.Id.ToString() ?? "-")</h4>
        </li>
    </ul>

    <ul class="product-changes-popup-header-list product-changes-popup-header-end-buttons-display-list">
        <li>
            <button id="ProductChanges_modal_accept_button" type="button" class="btn btn-success">
                Accept
            </button>
        </li>

        <li class="product-changes-popup-header-close-button-li">
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="closeModal('@Model.ModalData.ModalId')">
            </button>
        </li>
    </ul>
</div>

@if (Model.Product is null) return;

<div id="ProductChanges_popup" class="modal-body full-parent-width bg-white product-changes-popup">

    <div class="container border-2 full-parent-width full-parent-height">
        <div class="container product-changes-popup-container full-parent-width full-parent-height">

            @if (Model.Product is null)
            {
                <h1>Product is empty, or information about it is missing.</h1>

                return;
            }
            else
            {
                string searchStringSearchItemId = $"productFullEditor_WholeSearchStringSearch";

                <div>
                    <h1 class="align-text-center">@Model.Product.Name</h1>

                    <h5 class="align-text-center product-changes-popup-inner-id-label">ID: @Model.Product.Id</h5>
                </div>

                <div id="ProductChanges_modal_ImagesContainer">

                    <ul class="product-changes-popup-image-list">

                        @for (int i = 0; i < Model.Product.Images?.Count; i++)
                        {
                            ProductImage image = Model.Product.Images[i];
                            ProductImageFileNameInfo? imageFileNameInfo = Model.Product.ImageFileNames?.ElementAtOrDefault(i);

                            if (image.ImageData is null) continue;

                            string imageSrc = $"data:{image.ImageContentType};base64,{Convert.ToBase64String(image.ImageData)}";

                            bool isImageFileNameInfoActive = (imageFileNameInfo?.Active ?? true);

                            string imageFileNameInfoName = imageFileNameInfo?.FileName ?? string.Empty;

                            int imageFileNameInfoDisplayOrder = imageFileNameInfo?.DisplayOrder ?? -1;

                            float opacityOfLi = isImageFileNameInfoActive ? 1.0F : 0.35F;

                            <li id="ProductChanges_modal_ul_li-@(i)"
                                name="ProductChanges_modal_ul_li"
                                class="product-changes-popup-image-list-item"
                                style="opacity: @(opacityOfLi);">

                                @if (isImageFileNameInfoActive)
                                {
                                    <div class="product-changes-popup-image-active-button-container">
                                        <input id="ProductChanges_modal_ul_li_activityStatusCheckbox-@i"
                                            type="checkbox" aria-label="Close" checked
                                            class="product-changes-popup-image-active-button"/>
                                    </div>
                                }
                                else
                                {
                                    <div class="product-changes-popup-image-active-button-container">
                                        <input id="ProductChanges_modal_ul_li_activityStatusCheckbox-@i"
                                            type="checkbox" aria-label="Close"
                                            class="product-changes-popup-image-active-button"/>
                                    </div>
                                }
                
                                <button class="btn bg-white" name="Image #@i">
                                    <img src="@imageSrc" title="Image #@i" draggable="false"
                                        class="product-changes-popup-image" />
                                </button>

                                <div class="product-changes-popup-image-delete-button-container">
                                    <button type="button"
                                        aria-label="Close"
                                        class="btn-close product-changes-popup-image-delete-button"/>
                                </div>
                            </li>
                        }
                    </ul>
                </div>

                <h3 class="create-request-origins-text">Origins and identification</h3>

                <div class="element-collection">

                    <strong class="create-request-important-characteristic">Category:</strong>

                    <label class="element-collection-dataItem">@Model.Product.Category?.Description</label>

                </div>

                <div class="element-collection">

                    <strong class="create-request-important-characteristic">Manifacturer:</strong>

                    <label class="element-collection-dataItem">@Model.Product.Manifacturer?.RealCompanyName</label>

                </div>

                <div class="element-collection">

                    <strong class="create-request-important-characteristic">Part No. 1:</strong>

                    <label class="element-collection-dataItem">@Model.Product.PartNumber1</label>

                </div>

                <div class="element-collection">

                    <strong class="create-request-important-characteristic">Part No. 2:</strong>

                    <label class="element-collection-dataItem">@Model.Product.PartNumber2</label>

                </div>

                <div class="element-collection searchString-list-container-element-collection">

                    <strong class="create-request-important-characteristic">Search string:&nbsp;</strong>

                    <ul class="product-changes-popup-searchString-list">

                        <partial name="ProductPopups/_SearchStringOriginSmallPopupsDisplayPartial"
                            model="@new SearchStringOriginSmallPopupsDisplayPartialModel(
                                Model.SearchStringPopupModalData,
                                Model.Product.Id,
                                new List<string>() { searchStringSearchItemId },
                                Model.ProductSearchStringPartsAndDataAboutTheirOrigin,
                                true)" />
                    </ul>

                    <input id="@searchStringSearchItemId" type="button"
                        class="product-changes-popup-searchString-searchItem full-parent-height bg-white"/>
                </div>

                <div class="element-collection">

                    <strong class="create-request-important-characteristic">Status:</strong>

                    <label class="element-collection-dataItem">@ProductStatusMapping.GetBGStatusStringFromStatusEnum(Model.Product.Status)</label>

                </div>
                
                List<ProductProperty> properties = Model.Product.Properties;

                @if (properties is not null)
                {
                    <h3 class="create-request-characteristics-text">Characteristics</h3>

                    <div id="propertiesDataContainer">

                        <table id="propertyDisplay_table"
                            class="full-parent-width product-changes-popup-properties-table mb-4">

                            <tbody id="propertyDisplay_table_tbody">

                                @for (int i = 0; i < properties.Count; i++)
                                {
                                    ProductProperty productProperty = properties[i];

                                    string siteUrlPropertyClass = "";

                                    if (productProperty.XmlPlacement == XMLPlacementEnum.AsSiteUrl)
                                    {
                                        siteUrlPropertyClass = "siteUrlProperty";
                                    }

                                    if (productProperty.ProductCharacteristicId is null
                                    || productProperty.ProductCharacteristicId == 0)
                                    {
                                        <tr id="propertytr-@i"
                                            name="propertytr">
                                            <td class="property-td-alignedOnTop propertyWithoutCharacteristicId-characteristic-select-td">
                                                <label id="property-td-characteristic-label">@productProperty.Characteristic</label>
                                            </td>

                                            <td class="property-value-td">
                                                <div id="productPropertyDisplay_AutoExpandTextareaWrapper_div-@i"
                                                     class="full-parent-width full-parent-height">
                                                    <div id="productPropertyDisplay_Value_div-@i"
                                                        name="productPropertyDisplay_Value_div"
                                                        class="element-collection-dataItem full-parent-width full-parent-height property-value-div @(siteUrlPropertyClass)"
                                                        contenteditable="true" spellcheck="false"
                                                        data-val="true" data-val-required="Property is required"
                                                        data-val-maxlength="Property cannot exceed 200 characters" data-val-maxlength-max="200">
                                                        @productProperty.Value
                                                    </div>
                                                </div>

                                                <span id="productPropertyDisplay_Value_div-@i-validation"
                                                    class="text-danger"
                                                    data-valmsg-replace="true"></span>
                                            </td>

                                            <td class="property-td-alignedOnTop property-xmlPlacement-td">
                                                <input id="productPropertyDisplay_XmlPlacement_checkbox-@i"
                                                    name="productPropertyDisplay_XmlPlacement_checkbox"
                                                    type="checkbox"
                                                    class="product-xmlPlacement-checkbox" />
                                            </td>

                                            <td class="property-td-alignedOnTop property-delete-button-td">
                                                <button id="productPropertyDisplay_Delete_button-@i"
                                                    name="productPropertyDisplay_Delete_button"
                                                    class="btn btn-danger btn-close">
                                                </button>
                                            </td>

                                            <td class="property-td-alignedOnTop property-characterisricId-td">
                                                <label id="productPropertyDisplay_CharacteristicId_Data_label__hidden-@i"
                                                    name="productPropertyDisplay_CharacteristicId_Data_label__hidden"
                                                    class="property-characterisricId-label">None</label>
                                            </td>
                                        </tr>

                                        <tr id="invalidCharacteristicText_row-@i">
                                            <td colspan="4">
                                                <p class="invalid-characteristic-name-text">The product characteristic "@productProperty.Characteristic" does not exist, please select a characteristic from the ones above</p>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr id="propertytr-@i"
                                            name="propertytr">

                                            <td class="property-td-alignedOnTop property-characteristic-td">
                                                <label id="propertytr_characteristic_label-@i">
                                                    @productProperty.Characteristic
                                                </label>
                                            </td>

                                            <td class="property-value-td property-td-alignedOnTop">
                                                <div id="productPropertyDisplay_AutoExpandTextareaWrapper_div-@i"
                                                    class="full-parent-width full-parent-height">
                                                    <div id="productPropertyDisplay_Value_div-@i"
                                                        name="productPropertyDisplay_Value_div"
                                                        class="element-collection-dataItem full-parent-width full-parent-height property-value-div @(siteUrlPropertyClass)"
                                                        contenteditable="true" spellcheck="false"
                                                        data-val="true" data-val-required="Property is required"
                                                        data-val-maxlength="Property cannot exceed 200 characters" data-val-maxlength-max="200">
                                                        @productProperty.Value
                                                    </div>
                                                </div>

                                                <span id="productPropertyDisplay_Value_div-@i-validation"
                                                    class="text-danger"
                                                    data-valmsg-replace="true"></span>
                                            </td>

                                            <td class="property-td-alignedOnTop property-xmlPlacement-td">
                                                <input id="productPropertyDisplay_XmlPlacement_checkbox-@i"
                                                    name="productPropertyDisplay_XmlPlacement_checkbox"
                                                    type="checkbox"
                                                    class="product-xmlPlacement-checkbox" />
                                            </td>

                                            <td class="property-td-alignedOnTop property-delete-button-td">
                                                <button id="productPropertyDisplay_Delete_button-@i"
                                                    name="productPropertyDisplay_Delete_button"
                                                    class="btn btn-danger btn-close">
                                                </button>
                                            </td>

                                            <td class="property-td-alignedOnTop property-characterisricId-td">
                                                <label id="productPropertyDisplay_CharacteristicId_Data_label__hidden-@i"
                                                    name="productPropertyDisplay_CharacteristicId_Data_label__hidden"
                                                    class="property-characterisricId-label">@productProperty.ProductCharacteristicId</label>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                }
            }

            <input id="_productIdDisplay"
                type="hidden"
                value="@Model.Product.Id" />
        </div>
    </div>
</div>

<div class="modal-footer full-parent-width product-changes-popup-footer_buttons-container">
</div>