@using MOSTComputers.Services.SearchStringOrigin.Models;
@using MOSTComputers.UI.Web.RealWorkTesting.Utils
@using MOSTComputers.UI.Web.RealWorkTesting.Pages.Shared.ProductPopups;
@model SearchStringOriginSmallPopupsDisplayPartialModel
@{
    Layout = null;
}

@if (Model.SearchStringPartOriginDataList is not null)
{
    <ul id="@(Model.ElementIdAndNamePrefix)searchStringPartOrigin_ul-@Model.ProductId"
        class="searchStringPartOrigin_ul">

        @for (int j = 0; j < Model.SearchStringPartOriginDataList!.Count; j++)
        {
            Tuple<string, List<SearchStringPartOriginData>?> kvp = Model.SearchStringPartOriginDataList[j];

            string searchStringPart = kvp.Item1;

            string makeSearchStringSearchItemVisibleAfterAddingData =
                Model.MakeSearchStringSearchItemVisibleAfterAddingData ? "true" : "false";
            
            <li>
                <table onmouseleave="removeSearchStringOriginDataSmallPopupCommon(
                    '@(Model.ElementIdAndNamePrefix)searchStringPartOrigin_li-@Model.ProductId-@j',
                    '@(Model.ElementIdAndNamePrefix)searchStringPartOrigin_multipleOriginsDisplayList-@Model.ProductId-@j',
                    '@searchStringPart',
                    '@(Model.ElementIdAndNamePrefix)searchStringPartOrigin_multipleOriginsDisplayList_nameLabel-@Model.ProductId-@j',
                    '@(Model.ElementIdAndNamePrefix)searchStringPartOrigin_multipleOriginsDisplayList_meaningLabel-@Model.ProductId-@j')">
                    <tr>
                        <td id="@(Model.ElementIdAndNamePrefix)searchStringPart_h2-@Model.ProductId-@j"
                            name="@(Model.ElementIdAndNamePrefix)searchStringPart_h2-@Model.ProductId"
                            class="searchStringPart_td"
                            onmouseover="showSearchStringOriginDataSmallPopupCommon(
                                '@(Model.ElementIdAndNamePrefix)searchStringPartOrigin_li-@Model.ProductId-@j',
                                '@(Model.ElementIdAndNamePrefix)searchStringPartOrigin_multipleOriginsDisplayList-@Model.ProductId-@j',
                                '@searchStringPart',
                                '@(Model.ElementIdAndNamePrefix)searchStringPartOrigin_multipleOriginsDisplayList_nameLabel-@Model.ProductId-@j',
                                '@(Model.ElementIdAndNamePrefix)searchStringPartOrigin_multipleOriginsDisplayList_meaningLabel-@Model.ProductId-@j')">

                            <h7 class="productSearchString-popup-searchStringPart-label"
                                name="@(Model.ElementIdAndNamePrefix)searchStringPartDisplayText-@Model.ProductId">@searchStringPart</h7>
                        </td>
                    </tr>

                    <tr class="searchStringPartOrigin_li_container_row">
                        <td id="@(Model.ElementIdAndNamePrefix)searchStringPartOrigin_li-@Model.ProductId-@j"
                            name="@(Model.ElementIdAndNamePrefix)searchStringPartOrigin_li-@Model.ProductId"
                            class="searchStringPartOrigin_li"
                            style="visibility: hidden;">

                            @if (kvp.Item2?.Count == 1)
                            {
                                SearchStringPartOriginData searchStringPartOriginData = kvp.Item2[0];

                                string? searchStringMeaning = searchStringPartOriginData.Characteristic.Meaning;

                                if (string.IsNullOrWhiteSpace(searchStringMeaning))
                                {
                                    searchStringMeaning = "Characteristic contains no further info";
                                }
                                
                                <ul class="searchStringPartOrigin_li_singleItemContainerList">
                                    <li class="searchStringPartOrigin_li_copyButtonContainer">
                                        <button class="searchStringPartOrigin_li_copyButton"
                                            onclick='addCopiedPartToTotalCopyAndMakeElementVisible(
                                                "@searchStringPart",
                                                @Json.Serialize(Model.SearchStringDataTotalCopyIds),
                                                @makeSearchStringSearchItemVisibleAfterAddingData)'>
                                            +
                                        </button>
                                    </li>
                                    <li id="@(Model.ElementIdAndNamePrefix)searchStringPartOrigin_searchStringPartDisplay-@Model.ProductId-@j"
                                        name="@(Model.ElementIdAndNamePrefix)searchStringPartOrigin_searchStringPartDisplay-@Model.ProductId"
                                        class="searchStringPartOrigin_li_singleItemContainer_SearchStringPart_li">
                                        <h4 class="searchStringPartOrigin_li_singleItemContainer_SearchStringPart_h4">
                                            @searchStringPartOriginData.Characteristic.Name
                                        </h4>
                                    </li>
                                    <li class="searchStringPartOrigin_li_displayInline">
                                        <h6 class="searchStringPartOrigin_li_singleItemContainer_characteristicId_h6">
                                            ID: @searchStringPartOriginData.Characteristic.Id
                                        </h6>
                                    </li>
                                </ul>

                                <h5>@searchStringMeaning</h5>
                            }
                            else if (kvp.Item2?.Count > 1)
                            {
                                <ul class="searchStringPartOrigin_li_multipleItemContainerList">
                                    <li class="searchStringPartOrigin_li_copyButtonContainer">
                                        <button class="searchStringPartOrigin_li_copyButton"
                                            onclick="addCopiedPartToTotalCopyAndMakeElementVisible(
                                            '@searchStringPart',
                                            @Json.Serialize(Model.SearchStringDataTotalCopyIds),
                                            @makeSearchStringSearchItemVisibleAfterAddingData)">
                                            +
                                        </button>
                                    </li>

                                    <li id="@(Model.ElementIdAndNamePrefix)searchStringPartOrigin_searchStringPartDisplay-@Model.ProductId-@j"
                                        name="@(Model.ElementIdAndNamePrefix)searchStringPartOrigin_searchStringPartDisplay-@Model.ProductId"
                                        class="searchStringPartOrigin_li_displayInline">
                                        <h4 class="searchStringPartOrigin_searchStringPartDisplay_searchStringPart_h4">@searchStringPart</h4>
                                    </li>

                                    <li class="searchStringPartOrigin_li_displayInline">
                                        <p class="searchStringPartOrigin_li_multipleItemContainerList_possibilitiesText">@kvp.Item2.Count possibilities</p>

                                        <ul id="@(Model.ElementIdAndNamePrefix)searchStringPartOrigin_multipleOriginsDisplayList-@Model.ProductId-@j"
                                            class="searchStringPartOrigin_multipleOriginsDisplayList">

                                            @for (int k = 0; k < kvp.Item2.Count; k++)
                                            {
                                                SearchStringPartOriginData searchStringPartOriginData = kvp.Item2[k];

                                                string? searchStringMeaning = searchStringPartOriginData.Characteristic.Meaning;

                                                if (string.IsNullOrWhiteSpace(searchStringMeaning))
                                                {
                                                    searchStringMeaning = "Characteristic contains no further info";
                                                }
                                            
                                                <li class="searchStringPartOrigin_multipleOriginsDisplayList_containerOfLabels_li">

                                                    <ul class="searchStringPartOrigin_multipleOriginsDisplayList_containerOfLabels_ul">
                                                        <li class="searchStringPartOrigin_li_displayInline">
                                                            <h4 name="@(Model.ElementIdAndNamePrefix)searchStringPartOrigin_multipleOriginsDisplayList_nameLabel-@Model.ProductId-@j"
                                                                class="searchStringPartOrigin_multipleOriginsDisplayList_nameLabel">
                                                                @searchStringPartOriginData.Characteristic.Name
                                                            </h4>
                                                        </li>
                                                        <li class="searchStringPartOrigin_li_displayInline">
                                                            <h6 class="searchStringPartOrigin_li_multipleItemContainer_characteristicId_h6">
                                                                ID: @searchStringPartOriginData.Characteristic.Id
                                                            </h6>
                                                        </li>
                                                    </ul>

                                                    <h5 name="@(Model.ElementIdAndNamePrefix)searchStringPartOrigin_multipleOriginsDisplayList_meaningLabel-@Model.ProductId-@j">@searchStringMeaning</h5>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="searchStringPartOrigin_li_singleItemContainerList">
                                    <li class="searchStringPartOrigin_li_copyButtonContainer">
                                        <button class="searchStringPartOrigin_li_copyButton"
                                            onclick="addCopiedPartToTotalCopyAndMakeElementVisible(
                                            '@searchStringPart',
                                            @Json.Serialize(Model.SearchStringDataTotalCopyIds),
                                            @makeSearchStringSearchItemVisibleAfterAddingData)">
                                            +
                                        </button>
                                    </li>
                                    <li id="@(Model.ElementIdAndNamePrefix)searchStringPartOrigin_searchStringPartDisplay-@Model.ProductId-@j"
                                        name="@(Model.ElementIdAndNamePrefix)searchStringPartOrigin_searchStringPartDisplay-@Model.ProductId"
                                        class="searchStringPartOrigin_li_singleItemContainer_SearchStringPart_li">
                                        <h4 class="searchStringPartOrigin_li_singleItemContainer_SearchStringPart_h4">@searchStringPart</h4>
                                    </li>
                                </ul>

                                <h4>No information could be found.</h4>
                            }
                        </td>
                    </tr>
                </table>
            </li>
        }
    </ul>
}