@using MOSTComputers.UI.Web.RealWorkTesting.Utils;

@model MOSTComputers.UI.Web.RealWorkTesting.Pages.Shared.ProductProperties.ProductSinglePropertyDisplayPartialModel
@{
    Layout = null;
}

@if (Model.ProductPropertyData.ProductCharacteristicId is null
    || Model.ProductPropertyData.ProductCharacteristicId == 0)
{
    <tr id="propertytr-@Model.TableRowIndex">
        <td class="property-td-alignedOnTop propertyWithoutCharacteristicId-characteristic-select-td">
            <select id="productPropertyDisplay_Characteristic_select-@Model.TableRowIndex"
                name="productPropertyDisplay_Characteristic_select"
                asp-items="@Model.RemainingCharacteristics"
                onchange="productPropertyDisplay_Characteristic_select_onchange(
                    @Model.ProductId,
                    this.value,
                    'productPropertyDisplay_Characteristic_select',
                    'productPropertyDisplay_Characteristic_select-@Model.TableRowIndex',
                    'productPropertyDisplay_CharacteristicId_Data_label-@Model.TableRowIndex')">
            </select>
        </td>
        
        <td class="property-value-td">
            <div id="productPropertyDisplay_AutoExpandTextareaWrapper_div-@Model.TableRowIndex" class="full-parent-width full-parent-height">
                <div id="productPropertyDisplay_Value_div-@Model.TableRowIndex" name="productPropertyDisplay_Value_div"
                    class="element-collection-dataItem full-parent-width full-parent-height property-value-div"
                    contenteditable="true" spellcheck="false"
                    onfocusout="updatePropertyInTable(@Model.ProductId,
                        'productPropertyDisplay_CharacteristicId_Data_label-@Model.TableRowIndex',
                        'productPropertyDisplay_Value_div-@Model.TableRowIndex',
                        'productPropertyDisplay_XmlPlacement_select-@Model.TableRowIndex',
                        'productPropertyDisplay_Characteristic_select-@Model.TableRowIndex',
                        '_hidden_productPropertyDisplay_IsNew_Checkbox-@Model.TableRowIndex',
                        '@Model.NotificationBoxId')">
                    @Model.ProductPropertyData.Value
                </div>
            </div>
        </td>

        <td class="property-td-alignedOnTop property-characterisricId-td">
            <label id="productPropertyDisplay_CharacteristicId_Data_label-@Model.TableRowIndex"
                name="productPropertyDisplay_CharacteristicId_Data_label">
                ID: None
            </label>
        </td>

        <td class="property-td-alignedOnTop property-xmlPlacement-td">
            <select id="productPropertyDisplay_XmlPlacement_select-@Model.TableRowIndex"
                name="productPropertyDisplay_XmlPlacement_select"
                asp-items="@SelectListItemUtils.GetXmlPlacementSelectItems(Model.ProductPropertyData)"></select>
        </td>
    </tr>

    <tr>
        <td colspan="3">
            <p class="invalid-characteristic-name-text">The product characteristic "@Model.ProductPropertyData.ProductCharacteristicId" does not exist, please select a characteristic from the ones above</p>
        </td>
    </tr>
}
else
{
    <tr id="propertytr-@Model.TableRowIndex">
        <td class="property-td-alignedOnTop property-characteristic-td">
            <label id="productPropertyDisplay_Characteristic_label-@Model.TableRowIndex"
                ondblclick="togglePropertyCharacteristicAndSelect(
                    @Model.ProductId,
                    'productPropertyDisplay_Characteristic_label-@Model.TableRowIndex',
                    'productPropertyDisplay_Characteristic_select-@Model.TableRowIndex',
                    'productPropertyDisplay_Characteristic_select',
                    'productPropertyDisplay_CharacteristicId_Data_label-@Model.TableRowIndex')">
                @Model.ProductPropertyData.Characteristic
            </label>

            <select id="productPropertyDisplay_Characteristic_select-@Model.TableRowIndex"
                name="productPropertyDisplay_Characteristic_select"
                asp-items="@Model.RemainingCharacteristics"
                onchange="productPropertyDisplay_Characteristic_select_onchange(
                    @Model.ProductId,
                    this.value,
                    'productPropertyDisplay_Characteristic_select',
                    'productPropertyDisplay_Characteristic_select-@Model.TableRowIndex',
                    'productPropertyDisplay_CharacteristicId_Data_label-@Model.TableRowIndex')"
                style="display: none;">
            </select>
        </td>

        <td class="property-value-td property-td-alignedOnTop">
            <div id="productPropertyDisplay_AutoExpandTextareaWrapper_div-@Model.TableRowIndex" class="full-parent-width full-parent-height">
                <div id="productPropertyDisplay_Value_div-@Model.TableRowIndex" name="productPropertyDisplay_Value_div"
                    class="element-collection-dataItem full-parent-width full-parent-height property-value-div"
                    contenteditable="true" spellcheck="false"
                    onfocusout="updatePropertyInTable(@Model.ProductId,
                        'productPropertyDisplay_CharacteristicId_Data_label-@Model.TableRowIndex',
                        'productPropertyDisplay_Value_div-@Model.TableRowIndex',
                        'productPropertyDisplay_XmlPlacement_select-@Model.TableRowIndex',
                        'productPropertyDisplay_Characteristic_select-@Model.TableRowIndex',
                        '_hidden_productPropertyDisplay_IsNew_Checkbox-@Model.TableRowIndex',
                        '@Model.NotificationBoxId')">
                        @Model.ProductPropertyData.Value
                    </div>
            </div>
        </td>
        
        <td class="property-td-alignedOnTop property-characterisricId-td">
            <label id="productPropertyDisplay_CharacteristicId_Data_label-@Model.TableRowIndex"
                name="productPropertyDisplay_CharacteristicId_Data_label">
                ID: @Model.ProductPropertyData.ProductCharacteristicId
            </label>
        </td>

        <td class="property-td-alignedOnTop property-xmlPlacement-td">
            <select id="productPropertyDisplay_XmlPlacement_select-@Model.TableRowIndex"
                name="productPropertyDisplay_XmlPlacement_select"
                asp-items="@SelectListItemUtils.GetXmlPlacementSelectItems(Model.ProductPropertyData)"></select>
        </td>

        <td class="property-td-alignedOnTop property-delete-button-td">
            <button id="productPropertyDisplay_Delete_button-@Model.TableRowIndex"
                name="productPropertyDisplay_Delete_button"
                class="btn btn-danger"
                onclick="deletePropertyInTable(@Model.ProductId,
                    @Model.ProductPropertyData.ProductCharacteristicId,
                    'propertytr-@Model.TableRowIndex',
                    'propertyDisplay_table_tbody',
                    false)">
                X
            </button>

            <input id="_hidden_productPropertyDisplay_IsNew_Checkbox-@Model.TableRowIndex" type="checkbox" class="display-none"
                @(Model.IsNew ? "checked" : "") />
        </td>
    </tr>
}