@implements IAsyncDisposable

@inject IJSRuntime JSRuntime

@{
    AdditionalHeaderAttributes.TryGetValue("class", out object? headerAdditionalClasses);
    AdditionalBodyAttributes.TryGetValue("class", out object? bodyAdditionalClasses);
    AdditionalFooterAttributes.TryGetValue("class", out object? footerAdditionalClasses);
}

@* <div class="popup-overlay @(IsVisible ? "show" : "")" @onclick="CloseAsync"> *@
    @* <div class="popup-content" *@
<dialog id="@_popupId" class="popup-dialog" closedBy="any"
    style="margin-left: @(PopupMarginOptions.Left); margin-top: @(PopupMarginOptions.Top);
        margin-right: @(PopupMarginOptions.Right); margin-bottom: @(PopupMarginOptions.Bottom);">
    <div class="popup-content"
        style="width: calc(100vw - @PopupMarginOptions.Left - @PopupMarginOptions.Right);
            height: calc(100vh - @PopupMarginOptions.Top - @PopupMarginOptions.Bottom);"
         @onclick:stopPropagation>

        @if (DisplayHeader)
        {
            <div @attributes='AdditionalHeaderAttributes' class='popup-header @headerAdditionalClasses'>
                <div class="popup-header-content">
                    @if (HeaderContent is not null)
                    {
                        @HeaderContent(new PopupContext(this))
                    }
                </div>

                @if (AddFullScreenButtonToHeader)
                {
                    <PopupFullScreenButton PopupContext="new PopupContext(this)" />
				}

                <button class="btn-close popup-close-button ms-2" @onclick="OnButtonCloseAsync"></button>
            </div>
        }

        <div @attributes='AdditionalBodyAttributes' class="popup-body @bodyAdditionalClasses">

            @if (ChildContent is not null)
            {
                @ChildContent(new PopupContext(this))
            }
        </div>

        @if (FooterContent is not null)
        {
            <div @attributes='AdditionalFooterAttributes' class="popup-footer @footerAdditionalClasses">
                @FooterContent(new PopupContext(this))
            </div>
        }
    </div>
</dialog>
    @*</div>*@
@* </div>  *@

@code {
    public class MarginOptions
    {
        public string Top { get; set; } = "0px";
        public string Right { get; set; } = "0px";
        public string Bottom { get; set; } = "0px";
        public string Left { get; set; } = "0px";
    }

    public sealed class PopupContext
    {
        private readonly Popup _popup;

        public PopupContext(Popup popup)
        {
            _popup = popup;
        }

        public MarginOptions MarginOptions => _popup.PopupMarginOptions;

        public void SetMarginOptions(MarginOptions marginOptions)
        {
            _popup.SetPopupMarginOptions(marginOptions);
        }

        public bool IsVisible => _popup.IsVisible;

        public async Task SetIsVisibleAsync(bool isVisible)
        {
            await _popup.SetIsVisibleAsync(isVisible);
        }
    }

    [Parameter] public bool DisplayHeader { get; set; } = true;

    [Parameter] public bool AddFullScreenButtonToHeader { get; set; } = false;

    [Parameter] public RenderFragment<PopupContext>? HeaderContent { get; set; }

    [Parameter] public RenderFragment<PopupContext>? ChildContent { get; set; }
    [Parameter] public RenderFragment<PopupContext>? FooterContent { get; set; }

    [Parameter] public Dictionary<string, object> AdditionalHeaderAttributes { get; set; } = new();
    [Parameter] public Dictionary<string, object> AdditionalBodyAttributes { get; set; } = new();
    [Parameter] public Dictionary<string, object> AdditionalFooterAttributes { get; set; } = new();

    [Parameter] public MarginOptions PopupMarginOptions { get; set; } = new();

    private void SetPopupMarginOptions(MarginOptions marginOptions)
    {
        PopupMarginOptions = marginOptions;

        StateHasChanged();
    }

    [Parameter] public bool IsVisible { get; set; }
    private bool _currentIsVisible = false;

    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }

    private async Task SetIsVisibleAsync(bool isVisible)
    {
        IsVisible = isVisible;

        await IsVisibleChanged.InvokeAsync(IsVisible);

        StateHasChanged();
    }

    [Parameter] public EventCallback CloseHandler { get; set; }

    private IJSObjectReference? _jsModule = null;
    private DotNetObjectReference<Popup> dotNetObjectReference = null!;

    private string _popupId = string.Empty;

    protected override void OnInitialized()
    {
        dotNetObjectReference = DotNetObjectReference.Create(this);
        _popupId = $"{DateTime.Now.Ticks}_{Random.Shared.Next(100, 999)}";
    }

    protected async override Task OnParametersSetAsync()
    {
        if (_currentIsVisible == IsVisible) return;

        bool changed = await ChangeVisibility(IsVisible);

        if (changed)
        {
            _currentIsVisible = IsVisible;
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./Popup.razor.js");

            await _jsModule.InvokeVoidAsync("attachAutoCloseEvent", _popupId, dotNetObjectReference);

            if (_currentIsVisible == IsVisible) return;

            await ChangeVisibility(IsVisible);

            _currentIsVisible = IsVisible;
        }
    }

    private async Task<bool> ChangeVisibility(bool isVisible)
    {
        if (_jsModule is null) return false;

        if (isVisible)
        {
            await _jsModule.InvokeVoidAsync("openDialog", _popupId, true);
        }
        else
        {
            await CloseUIAsync();
        }

        return true;
    }

    [JSInvokable("OnDefaultCloseAsync")]
    public async Task OnDefaultCloseAsync()
    {
        if (CloseHandler.HasDelegate)
        {
            await CloseHandler.InvokeAsync();

            return;
        }

        await CloseAsync();
    }

    private async Task OnButtonCloseAsync()
    {
        if (CloseHandler.HasDelegate)
        {
            await CloseHandler.InvokeAsync();

            return;
        }

        await CloseAsync();
    }

    private async Task CloseAsync()
    {
        if (_jsModule is null) return;

        IsVisible = false;

        _currentIsVisible = IsVisible;

        await _jsModule.InvokeVoidAsync("closeDialog", _popupId);

        await IsVisibleChanged.InvokeAsync(IsVisible);
    }

    private async Task CloseUIAsync()
    {
        if (_jsModule is null) return;

        await _jsModule.InvokeVoidAsync("closeDialog", _popupId);
    }

    public async ValueTask DisposeAsync()
    {
        if (_jsModule is not null)
        {
            try
            {
                await _jsModule.InvokeVoidAsync("detachAutoCloseEvent", _popupId);

                dotNetObjectReference.Dispose();

                await _jsModule.DisposeAsync();
            }
            catch (JSDisconnectedException)
            {
            }
        }
    }
}